.homepage {
    /* ~~~~~~~~~~ Navigation ~~~~~~~~~~ */

    .navbar-default {
        background: transparent;
        border: none;

        @media (min-width: 768px) {
            padding: 20px 0;
            -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
            transition: background .5s ease-in-out,padding .5s ease-in-out;
        }

        &.navbar-fixed-top {
            @media (max-width: 767px) {
                position: absolute;
            }
        }

        &.top-nav-collapse {
            padding: 0;
            background: #13171a;

            .navbar-header {
                a {
                    margin-top: 13px;
                }
            }

            .navbar-collapse {
                ul {
                    margin-top: 5px;
                }
            }
        }

        .navbar-header {
            .navbar-toggle {
                border: none;
                margin-top: 15px;

                &:hover,
                &:focus,
                &:active {
                    background: transparent;

                    .icon-bar {
                        background-color: $red;
                    }
                }

                .icon-bar {
                    height: 1px;
                    background: #fff;
                }
            }

            a {
                margin-top: 15px;
                display: inline-block;

                @media (max-width: 767px) {
                    margin-left: 15px;

                    img {
                        width: 200px;
                        height: auto;
                        margin-top: 3px;
                    }
                }
            }
        }

        .navbar-collapse {
            float: right;

            @media (max-width: 991px) {
                float: none;
            }

            @media (max-width: 767px) {
                background: #13171a;
                border-top: none;
            }

            ul {
                margin-top: 10px;

                li {
                    a {
                        @include fira('light');
                        font-size: 14px;
                        color: #fff;
                        text-transform: uppercase;

                        @media (max-width: 1199px) {
                            padding: 13px 7px;
                        }

                        @media (max-width: 991px) {
                            padding: 13px 8px;
                        }

                        @media (max-width: 767px) {
                            padding: 8px 15px;
                        }

                        &:hover,
                        &:focus {
                            color: $red;
                            background: transparent;
                        }
                    }

                    button {
                        border: none;
                        background: transparent;
                        padding-top: 13px;

                        @media (max-width: 1199px) {
                            padding: 13px 7px;
                        }

                        @media (max-width: 991px) {
                            padding: 13px 8px;
                        }

                        @media (max-width: 767px) {
                            padding: 8px 15px;
                        }

                        i {
                            color: #fff;
                        }
                    }

                    &:nth-child(2) {
                        @media (max-width: 991px) {
                            a {
                                padding-left: 2px;
                            }
                        }

                        @media (max-width: 767px) {
                            a {
                                padding-left: 15px;
                            }
                        }
                    }

                    &:last-child {
                        border-radius: 3px;
                        background: $red;
                        border-bottom: 2px solid #9a2226;
                        margin: 5px 0 0 25px;
                        @extend %single-transition;

                        @media (max-width: 1199px) {
                            margin: 5px 0 0 10px;
                        }

                        @media (max-width: 767px) {
                            margin: 5px 15px;
                        }

                        &:hover,
                        &:focus {
                            background: #9a2226;
                            @extend %single-transition;
                        }

                        a {
                            @include raleway("extra-bold");
                            font-size: 10px;
                            letter-spacing: 2px;
                            padding: 8px 40px 6px;

                            @media (max-width: 767px) {
                                text-align: center;
                                padding: 8px 0 6px;
                            }

                            &:focus,
                            &:hover {
                                color: #fff;
                            }
                        }
                    }

                    &.active {
                        a,
                        a:hover,
                        a:focus {
                            color: $red;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }


    /* ~~~~~~~~~~ Hero image ~~~~~~~~~~ */

    .hero-video {
        position:relative;
        overflow: hidden;

        video {
            width: 100%;
            height: auto;
            padding-bottom: 20px;
        }

        &:after {
            content:'';
            position: absolute;
            top: 99%;
            left: 50%;
            margin: -20px 0 0 -20px;
            width: 0;
            height: 0;
            border-top: solid 20px #000;
            border-left: solid 20px transparent;
            border-right: solid 20px transparent;

            @media (max-width: 767px) {
                top: 98%;
            }
        }
    }


    /* ~~~~~~~~~~ About ~~~~~~~~~~ */

    #about {
        padding: 150px 0 25px;
        margin-top: -75px;
        text-align: center;

        h1 {
            @include raleway('light');
            font-size: 36px;
            line-height: 42px;
            color: $grey;

            @media (max-width: 1199px) {
                font-size: 32px;
                line-height: 38px;
            }

            @media (max-width: 991px) {
                font-size: 28px;
                line-height: 34px;
            }

            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 32px;
            }

            strong {
                @include raleway('medium');
            }
        }

        .tabs {
            margin: 50px 0;

            .ul-wrapper {
                text-align: center;

                ul {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    /* For IE, the outcast */
                    zoom:1;
                    *display: inline;
                    border-bottom: none;

                    li {
                        float: left;
                        margin: 0 10px;
                        width: 425px;

                        @media (max-width: 991px) {
                            width: 315px;
                        }

                        @media (max-width: 767px) {
                            width: 100%;
                            margin: 10px 0;
                        }

                        a {
                            background: #8d8d8d;
                            border: none;
                            border-radius: 0;
                            @include raleway('light');
                            font-size: 36px;
                            color: #fff;

                            @media (max-width: 1199px) {
                                font-size: 32px;
                            }

                            @media (max-width: 991px) {
                                font-size: 28px;
                            }

                            span {
                                @extend %pt;
                                font-size: 14px;
                                display: block;
                                margin-bottom: 5px;

                                @media (max-width: 991px) {
                                    font-size: 13px;
                                }
                            }
                        }

                        &.active,
                        &:hover,
                        &:focus {
                            a {
                                background: $red;
                            }
                        }

                        &.active {
                            &:after {
                                content:'';
                                position: absolute;
                                top: 99%;
                                left: 50%;
                                margin-left: -20px;
                                width: 0;
                                height: 0;
                                border-top: solid 20px $red;
                                border-left: solid 20px transparent;
                                border-right: solid 20px transparent;

                                @media (max-width: 767px) {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }

            .tab-content {
                margin-top: 50px;

                .tab-pane {
                    .circle-border {
                        position: relative;
                        width: 85px;
                        height: 85px;
                        border-radius: 50%;
                        border: 1px solid #e9e9e9;
                        margin: 0 auto;

                        img {
                            height: 40px;
                            width: auto;
                        }

                        &:before {
                            content: " ";
                            position: absolute;
                            z-index: -1;
                            border: 5px solid #f7f7f7;
                            top: -5px;
                            left: -5px;
                            width: 94px;
                            height: 94px;
                            display: block;
                            border-radius: 50%;
                        }
                    }

                    .circle-red {
                        width: 85px;
                        height: 85px;
                        border-radius: 50%;
                        border: 3px solid $red;
                        margin: 0 auto;

                        img {
                            height: 40px;
                            width: auto;
                        }
                    }

                    .col-sm-4 {
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            .circle-border,
                            .circle-red {
                                @media (max-width: 767px) {
                                    margin-top: 50px;
                                }
                            }
                        }
                    }

                    .line {
                        height: 1px;
                        width: 100%;
                        background: #e8e8e8;
                        margin-top: 25%;
                    }

                    h3 {
                        color: $grey;
                        text-transform: uppercase;
                        font-size: 15px;
                        letter-spacing: 1px;
                        @include raleway('semi-bold');
                        margin-top: 25px;

                        @media (max-width: 991px) {
                            font-size: 14px;
                            line-height: 19px;
                            letter-spacing: 0;
                        }

                        &:after {
                            content: '';
                            display: block;
                            height: 2px;
                            width: 40px;
                            background: $red;
                            margin: 10px auto 25px;
                        }
                    }

                    p {
                        @extend %paragraph;
                    }

                    .red-button {
                        background: $red;
                        border-radius: 3px;
                        display: inline-block;
                        color: #fff;
                        border-bottom: 2px solid #9a2226;
                        padding: 12px 85px;
                        @include open('bold');
                        text-transform: uppercase;
                        font-size: 20px;
                        letter-spacing: 2px;
                        margin-top: 50px;
                        -webkit-box-shadow: 0px 0px 30px 0px rgba(235,28,36,1);
                        -moz-box-shadow: 0px 0px 30px 0px rgba(235,28,36,1);
                        box-shadow: 0px 0px 30px 0px rgba(235,28,36,1);

                        @media (max-width: 1199px) {
                            font-size: 19px;
                        }

                        @media (max-width: 991px) {
                            font-size: 17px;
                            letter-spacing: 1px;
                        }

                        @media (max-width: 767px) {
                            font-size: 16px;
                            letter-spacing: 0;
                        }

                        &:hover,
                        &:focus {
                            background: #9a2226;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }


    /* ~~~~~~~~~ Videos ~~~~~~~~~~ */

    #videos {
        background: #fafafa;
        padding: 75px 0;
        text-align: center;
        overflow-x: hidden;

        h2 {
            @extend %h2-title;

            & + p {
                margin-bottom: 15px;
            }
        }

        .video-track {
            margin-top: 30px;

            img {
                width: 100%;
                height: auto;
            }

            .assets {
                background: #f2f3f2;
                border: 1px solid #e5e5e5;
                padding: 10px;
                margin-top: -5px;
                text-align: left;

                .author {
                    display: block;
                    @include open('regular');
                    font-size: 10px;
                    text-transform: uppercase;
                    color: #767676;
                }

                .player-counter {
                    float: right;
                    display: block;
                    @include open('regular');
                    font-size: 10px;
                    text-transform: uppercase;
                    color: #767676;

                    img {
                        width: 10px;
                        height: auto;
                        position: relative;
                        top: 2px;
                    }
                }

                h3 {
                    @include open('regular');
                    font-size: 14px;
                    color: #000;
                }

                .tags {
                    margin-top: 10px;

                    li {
                        a {
                            display: inline-block;
                            background: #fff;
                            border-radius: 2px;
                            border: 1px solid rgba(0,0,0,0.1);
                            padding: 5px;
                            margin: 0 3px 3px 0;
                            float: left;
                            display: block;
                            @include open('bold');
                            font-size: 10px;
                            text-transform: uppercase;
                            color: #767676;

                            &:hover,
                            &:focus {
                                background: #767676;
                                color: #fff;
                            }
                        }
                    }
                }

               .buttons {
                  border-top: 1px solid rgba(0,0,0,0.1);
                  margin: 10px -10px 0;
                  padding: 10px 10px 0;

                  .download {
                    a {
                      .svg {
                        height: 17px;
                        width: auto;

                        path {
                          fill: red;
                        }
                      }
                    }
                  }

                  .add {
                    .svg {
                      height: 15px;
                      width: auto;
                    }
                  }

                  .love {
                    margin: -2px 15px 0 0;

                    a {
                      @include open('regular');
                      font-size: 12px;
                      text-transform: uppercase;
                      color: #767676;

                      .svg {
                        height: 14px;
                        width: auto;
                        position: relative;
                        top: 2px;
                        margin-right: 2px;
                      }
                    }
                  }
                }

                .red-button {
                    background: $red;
                    border-radius: 3px;
                    display: inline-block;
                    color: #fff;
                    border-bottom: 2px solid #9a2226;
                    width: 100%;
                    @include open('bold');
                    text-transform: uppercase;
                    font-size: 11px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    text-align: center;
                    padding: 10px 0;

                    &:hover,
                    &:focus {
                        background: #9a2226;
                    }
                }
            }
        }
    }


    /* ~~~~~~~~~~ Artists say ~~~~~~~~~~ */

    #artists-say {
        padding: 75px 0 125px;
        text-align: center;

        h2 {
            @extend %h2-title;
            color: #fff;

            & + p {
                color: #fff;
            }
        }

        .carousel-indicators {
            bottom: 0;

            li {
                border: none;
                background: rgba(255, 255, 255, 0.4);

                &.active {
                    background: #fff;
                }
            }
        }

        .carousel-inner {
            .item {
                padding: 50px 0;

                p {
                    color: #fff;
                    @include fira('light');
                    text-transform: uppercase;
                    font-size: 42px;
                    line-height: 52px;

                    @media (max-width: 1199px) {
                        font-size: 38px;
                        line-height: 48px;
                    }

                    @media (max-width: 991px) {
                        font-size: 32px;
                        line-height: 40px;
                    }

                    @media (max-width: 767px) {
                        font-size: 28px;
                        line-height: 36px;
                    }
                }

                img {
                    width: 200px;
                    border: 2px solid #fff;
                    margin-top: 15px;
                }

                span {
                    display: block;
                    @include fira('light');
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 14px;
                    margin-top: 15px;

                }
            }
        }

        .carousel-control {
            background: transparent;
        }
    }


    /* ~~~~~~~~~~ Send demo ~~~~~~~~~~ */

    #send-demo {
        background: $red;
        padding: 50px 0;
        overflow-x: hidden;
        margin-top: -50px;

        .ul-wrapper {
            text-align: center;

            ul {
                display: inline-block;
                margin: 0;
                padding: 0;
                /* For IE, the outcast */
                zoom:1;
                *display: inline;

                li {
                    float: left;

                    img {
                        margin-top: 80px;

                        @media (max-width: 1199px) {
                            margin-top: 70px;
                        }

                        @media (max-width: 767px) {
                            display: none;
                        }
                    }

                    &:first-child {
                        img {
                            margin-right: 15px;
                        }
                    }

                    &:last-child {
                        img {
                            margin-left: 15px;
                        }
                    }

                    h2 {
                        color: #fff;
                        text-transform: uppercase;
                        @include open('extra-bold');
                        font-size: 46px;

                        @media (max-width: 1199px) {
                            font-size: 42px;
                        }

                        span {
                            font-size: 118px;
                            display: inline-block;
                            margin-top: -10px;

                            @media (max-width: 1199px) {
                                font-size: 106px;
                            }
                        }
                    }

                    a {
                        background: rgba(0,0,0,0.7);
                        border-radius: 3px;
                        text-transform: uppercase;
                        width: 345px;
                        color: #fff;
                        @include open('bold');
                        letter-spacing: 2px;
                        padding: 12px 0;
                        display: inline-block;
                        margin-top: 5px;
                        font-size: 14px;

                        @media (max-width: 1199px) {
                            width: 308px;
                        }

                        &:hover,
                        &:focus {
                            background: #000;
                        }
                    }
                }
            }
        }
    }


    /* ~~~~~~~~~~ Numbers ~~~~~~~~~~ */

    #numbers {
        padding: 150px 0 75px;
        margin-top: -75px;
        text-align: center;

        .col-md-3 {
            border-right: 1px solid rgba(255,255,255,0.2);

            @media (max-width: 991px) {
                border-right: none;
            }

            &:nth-of-type(2) {
                @media (max-width: 767px) {
                    margin-top: 50px;
                }
            }

            &:nth-of-type(3),
            &:last-of-type {
                @media (max-width: 991px) {
                    margin-top: 50px;
                }
            }

            &:last-of-type {
                border-right: none;
            }

            img {
                height: 32px;
                width: auto;
            }

            h3 {
                @include raleway('bold');
                color: #fff;
                font-size: 16px;
                margin-top: 15px;
            }

            .counter {
                display: inline-block;
                margin-top: 25px;
                font-size: 35px;
                @include raleway('bold');
                color: #fff;

                @media (max-width: 1199px) {
                    font-size: 32px;
                }
            }
        }
    }


    /* ~~~~~~~~~~ FAQ ~~~~~~~~~~ */

    #faq {
        padding: 150px 0 75px;
        margin-top: -75px;

        h2 {
            @extend %h2-title;
            text-align: center;

            & + p {
                text-align: center;
            }
        }

        #accordion {
            margin-top: 50px;

            .panel-default {
                border: none;
                box-shadow: none;
                outline: none;

                .panel-heading {
                    padding: 0;
                    margin: 0;
                    background: transparent;

                    h4 {
                        a {
                            display: block;
                            border-radius: 3px;
                            @include raleway('semi-bold');
                            text-transform: uppercase;
                            font-size: 15px;
                            padding: 15px 25px 15px 50px;
                            margin-top: 15px;
                            color: $red;
                            border: 1px solid #e7e7e7;
                            position: relative;

                            @media (max-width: 991px) {
                                font-size: 14px;
                                line-height: 19px;
                            }

                            &:before {
                                content: '';
                                background: url('../images/icon_minus.svg');
                                display: block;
                                width: 15px;
                                margin: 7px 25px 0 0;
                                height: 1px;
                                float: left;
                                left: 20px;
                                position: absolute;
                            }

                            &.collapsed {
                                background: $red;
                                color: #fff;
                                border-color: transparent;

                                &:before {
                                    content: '';
                                    background: url('../images/icon_plus.svg');
                                    display: block;
                                    width: 15px;
                                    margin-top: 0;
                                    height: 15px;
                                    float: left;
                                    position: absolute;
                                    left: 20px;
                                }
                            }
                        }
                    }
                }

                .panel-collapse {
                    .panel-body {
                        border: none;

                        p {
                            @extend %paragraph;
                        }
                    }
                }
            }
        }
    }


    /* ~~~~~~~~~~ The team ~~~~~~~~~~ */

    #team {
        padding: 75px 0 90px;
        overflow-x: hidden;

        @media (max-width: 991px) {
            padding: 75px 0 125px;
        }

        h2 {
            @extend %h2-title;
            text-align: center;

            & + p {
                text-align: center;
            }
        }

        .col-sm-4 {
            @media (max-width: 767px) {
                text-align: center;
                margin-top: 75px;

                &:first-of-type {
                    margin-top: 0;
                }
            }

            > a {
                display: block;
                text-align: center;

                > img {
                    margin: 50px auto 0;
                    width: 75%;
                    height: auto;
                    border: 4px solid #fff;
                    position: relative;
                    @extend %single-transition;

                    @media (max-width: 767px) {
                        width: 50%;
                        height: auto;
                        margin: 50px auto 0;
                    }
                }

                &:hover,
                &:focus {
                    > img {
                        opacity: 0.7;
                        @extend %single-transition;
                    }
                }
            }
        }

        .assets {
            background: rgba(235, 28, 34, 0.95);
            width: 65%;
            margin-top: -35px;
            @extend %absolute-center;
            position: absolute;
            text-align: left;

            @media (max-width: 1199px) {
                width: 80%;
            }

            .col-xs-8 {
                padding: 10px 30px;
                border-right: 1px solid rgba(255,255,255,0.2);

                @media (max-width: 991px) {
                    border-right: none;
                }

                h3 {
                    color: #fff;
                    @include raleway('semi-bold');
                    font-size: 14px;
                    letter-spacing: 1px;
                }

                span {
                    display: inline-block;
                    color: #fff;
                    margin-top: 7px;
                    @include raleway('semi-bold');
                    font-size: 11px;
                    letter-spacing: 1px;
                }
            }

            > .row {
                .col-xs-4 {
                    text-align: center;
                    padding-left: 0;

                    .circle-star {
                        background: #fff;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        margin: 10px auto;

                        i {
                            color: $red;
                            font-size: 26px;
                            margin-top: 4px;
                        }
                    }
                }
            }

            &:before {
                content:'';
                position: absolute;
                top: -10px;
                left: 50%;
                margin-left: -10px;
                width: 0;
                height: 0;
                border-bottom: solid 10px rgba(235, 28, 34, 0.95);
                border-left: solid 10px transparent;
                border-right: solid 10px transparent;

                @media (max-width: 767px) {
                    top: -8px;
                }
            }
        }
    }


    /* ~~~~~~~~~~ News ~~~~~~~~~~ */

    #news {
        .col-md-4 {
            padding: 0;

            .background-cover,
            .news-inner {
                height: 500px;
            }

            .news-inner {
                padding: 0 10%;

                .title {
                    display: block;
                    color: #fff;
                    @include raleway('regular');
                    font-size: 20px;

                    &:after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 40px;
                        background: #fff;
                        margin: 15px 0 35px;
                    }

                    strong {
                        @include raleway('semi-bold');
                    }
                }

                .tags-wrapper {
                    li {
                        float: left;
                        margin-right: 3px;

                        .tag {
                            display: inline-block;
                            color: #fff;
                            @include raleway('semi-bold');
                            font-size: 12px;
                            padding: 5px 10px;
                            border: 2px solid rgba(255,255,255,0.2);
                            border-radius: 3px;
                            margin-bottom: 5px;

                            &:hover,
                            &:focus {
                                color: $red;
                                background: #fff;
                            }
                        }
                    }
                }

                h3 {
                    color: #fff;
                    margin-top: 15px;
                    @include raleway('semi-bold');
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                p {
                    @extend %pt;
                    font-size: 14px;
                    line-height: 22px;
                    color: #aeb5bf;
                    margin-top: 15px;
                }

                .date {
                    color: #fff;
                    @include raleway('semi-bold');
                    font-size: 12px;
                    margin-top: 25px;
                    display: inline-block;
                }
            }

            &:first-of-type,
            &:last-of-type {
                .news-inner {
                    background: rgba(127, 0, 4, 0.75);
                }
            }

            &:nth-of-type(2) {
                .news-inner {
                    background: rgba(74, 49, 54, 0.75);
                }
            }
        }
    }


    /* ~~~~~~~~~~ Contact ~~~~~~~~~~ */

    #contact {
        padding: 75px 0;
        overflow-x: hidden;

        .twitter {
            background: $red;
            text-align: center;
            padding: 25px;

            @media (max-width: 767px) {
                margin-top: 75px;
            }

            .fa-twitter {
                color: #fff;
                margin-top: 15px;
                font-size: 85px;
            }

            .tweet {
                margin-top: 35px;

                p, .date {
                    color: #fff;
                    @extend %pt;
                    font-size: 16px;
                    line-height: 28px;

                    a {
                        text-decoration: underline;
                    }
                }

                .date {
                    text-decoration: underline;
                }
            }

            .controls-wrapper {
                text-align: center;
                margin: 35px 0 10px;

                ul {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    /* For IE, the outcast */
                    zoom:1;
                    *display: inline;

                    li {
                        float: left;
                        border-right: 1px solid rgba(255,255,255,0.2);

                        i {
                            color: #fff;
                            font-size: 24px;
                            margin: 0 25px;
                        }

                        &:first-child {
                            i {
                                opacity: 0.2;
                            }
                        }

                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }
        }

        h2 {
            @extend %h2-title;

            &:after {
                margin: 25px 0;
            }
        }

        form {
            margin-top: 10px;

            label {
                display: block;
                margin-top: 25px;
                @include raleway('medium');
                font-size: 15px;
            }

            input,
            textarea {
                width: 100%;
                margin-top: 10px;
                @include raleway('medium');
                font-size: 15px;
                padding: 12px 25px;
                border: 1px solid #e2e2e2;
            }

            textarea {
                height: 150px;
            }

            input[type=submit] {
                background: $red;
                border-radius: 3px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
                @include raleway('extra-bold');
                padding: 15px 25px;
                font-size: 11px;
                width: auto;
                border: none;
                margin-top: 25px;
                @extend %single-transition;

                &:hover,
                &:focus {
                    background: #9a2226;
                    @extend %single-transition;
                }
            }
        }
    }


    /* ~~~~~~~~~~ Footer ~~~~~~~~~~ */

    #footer {
        background: #13171a;
        padding: 35px 0;
        overflow-x:hidden;

        ul {
            li {
                float: left;

                a {
                    display: block;
                    background: $red;
                    width: 38px;
                    height: 38px;
                    float: left;
                    margin-right: 10px;
                    text-align: center;

                    i {
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }
        }

        .col-md-8 {
            > span {
                color: #949495;
                text-align: right;
                @include raleway('medium');
                font-size: 12px;
                display: block;
                margin-top: 15px;

                @media (max-width: 767px) {
                    text-align: left;
                    margin-top: 35px;
                }
            }
        }
    }

    #overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        background: rgba(255,255,255,0.9);
        z-index: 5001;
        height: 100%;
        width: 100%;

        form {
            position: relative;
            width: 50%;
            margin: 0 auto;

            @media (max-width: 991px) {
                width: 75%;
            }

            @media (max-width: 767px) {
                width: 85%;
            }

            input {
                padding: 20px;
                @include raleway('medium');
                font-size: 16px;
                border: none;
                border-bottom: 2px solid $grey;
                background: transparent;
                width: 100%;

                &:focus {
                    border-color: #red;
                }
            }

            #searchsubmit {
                position: absolute;
                border: none;
                background: transparent;
                right: 20px;
                top: 20px;
            }
        }

        #close {
            position: absolute;
            border: none;
            background: transparent;
            top: 20px;
            right: 20px;
            font-weight: bold;
        }
    }
}

