/*  IE Version 10 and 11 css  */
@media all and (-ms-high-contrast:none)
	{	.ie-label-padding{padding: 7px 22px !important;}
			.admin #content #artist .description li{word-break: break-all;-ms-word-break:break-all;}
		.page .navbar-top .notifications .navbar-nav > li.dropdown .img-circle{margin: -27px 0 0 38px;}
		.player-fixed-bottom .player-buttons-left li span .svg, .player-fixed-bottom .player-buttons-right li span .svg{float: left;width: 23px;}
		.player-fixed-bottom .player-buttons-left li .svg, .player-fixed-bottom .player-buttons-right li .svg{width: 23px;}
		.player-fixed-bottom .red-button .svg{width: 28px;}
		.player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .back-button, .player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .next-button, .player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .play-button{height: 19px;}
		.page #music-videos .filter .navbar-default .navbar-collapse .navbar-nav select::-ms-expand{display: none;}

		.page #music-videos .video-track-constant .assets .player-counter img, .page #music-videos .video-track .assets .player-counter img{height: 12px;}
		.page #music-videos .video-track-constant .assets .buttons .love a .svg, .page #music-videos .video-track .assets .buttons .love a .svg{width: 22px;}
		.page #music-videos .video-track-constant .assets .buttons .add .svg, .page #music-videos .video-track .assets .buttons .add .svg{width: 22px;}
		.page #banner-discover .video-track .assets .buttons .love a .svg{width: 22px;}
		.page #banner-discover .video-track .assets .buttons .add .svg{width: 22px;}
		.page #banner-discover .video-track .assets .player-counter img{height: 12px;}

		.landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .back-button, .landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .next-button, .landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .play-button{height: 19px;}

		.page #banner-music-videos .video-track-constant .buttons .add .svg{width: 22px;}
		.page #banner-music-videos .video-track-constant .buttons .love a .svg{width: 22px;}

		 /*  Ie hero-video  */
        .embed-container iframe, .embed-container object, 
        .embed-container embed{width: 100% !important;height: 800px !important;overflow: hidden !important;margin-top: -70px !important; margin-bottom:-70px !important }
        
         /*  Artist discovry  */
        .admin #content #videos .video-track-constant .assets .player-counter img, .admin #content #videos .video-track .assets .player-counter img{height: 12px;}
        .admin #content #videos .video-track-constant .assets .buttons .add .svg, .admin #content #videos .video-track .assets .buttons .add .svg{width: 22px;}

        /*  Featured track  */
        .homepage #videos .video-track .assets .player-counter img{height: 12px;}
        .homepage #videos .video-track .assets .buttons .add .svg{width: 22px;}

        .admin .navbar-top .notifications .navbar-nav > li.dropdown .img-circle{margin: -30px 0 0 45px !important;}
		.check-status{margin: 23px  0px  0px  0px !important;position: absolute;}
		.original_checkbox{margin:16px  0px  0px  0px !important;}
		.checkbox_padding label{padding: 0 22px !important;} 
		#remix-competitions #videos .video-track-constant .assets .buttons .add .svg, #remix-competitions #videos .video-track .assets .buttons .add .svg{width: 22px !important;}
		#remix-competitions #videos .video-track-constant .assets .player-counter img, #remix-competitions #videos .video-track .assets .player-counter img{height: 12px!important;}
	}

/*  IE Version 8 and 9 css  */
@media screen\0 {
		.page .navbar-top .notifications .navbar-nav > li.dropdown .img-circle{margin: -27px 0 0 38px;}
		.player-fixed-bottom .player-buttons-left li span .svg, .player-fixed-bottom .player-buttons-right li span .svg{float: left;width: 23px;}
		.player-fixed-bottom .player-buttons-left li .svg, .player-fixed-bottom .player-buttons-right li .svg{width: 23px;}
		.player-fixed-bottom .red-button .svg{width: 28px;}
		.player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .back-button, .player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .next-button, .player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .play-button{height: 19px;}
		.page #music-videos .filter .navbar-default .navbar-collapse .navbar-nav select::-ms-expand{display: none;}

		.page #music-videos .video-track-constant .assets .player-counter img, .page #music-videos .video-track .assets .player-counter img{height: 12px;}
		.page #music-videos .video-track-constant .assets .buttons .love a .svg, .page #music-videos .video-track .assets .buttons .love a .svg{width: 22px;}
		.page #music-videos .video-track-constant .assets .buttons .add .svg, .page #music-videos .video-track .assets .buttons .add .svg{width: 22px;}
		.page #banner-discover .video-track .assets .buttons .love a .svg{width: 22px;}
		.page #banner-discover .video-track .assets .buttons .add .svg{width: 22px;}
		.page #banner-discover .video-track .assets .player-counter img{height: 12px;}

		.landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .back-button, .landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .next-button, .landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .play-button{height: 19px;}

		.player-fixed-bottom .red-button{margin: 19px 20px 19px 0};
		
		.page #banner-music-videos .video-track-constant .buttons .add .svg{width: 22px;}
		.page #banner-music-videos .video-track-constant .buttons .love a .svg{width: 22px;}
		 /*  Ie hero-video  */
        .embed-container iframe, .embed-container object, 
        .embed-container embed{width: 100% !important;height: 800px !important;overflow: hidden !important;margin-top: -70px !important; margin-bottom:-70px !important }
        
         /*  Artist discovry  */
        .admin #content #videos .video-track-constant .assets .player-counter img, .admin #content #videos .video-track .assets .player-counter img{height: 12px;}
        .admin #content #videos .video-track-constant .assets .buttons .add .svg, .admin #content #videos .video-track .assets .buttons .add .svg{width: 22px;}

        /*  Featured track  */
        .homepage #videos .video-track .assets .player-counter img{height: 12px;}
        .homepage #videos .video-track .assets .buttons .add .svg{width: 22px;}		

        #remix-competitions #videos .video-track-constant .assets .buttons .add .svg, #remix-competitions #videos .video-track .assets .buttons .add .svg{width: 22px !important;}
#remix-competitions #videos .video-track-constant .assets .player-counter img, #remix-competitions #videos .video-track .assets .player-counter img{height: 12px!important;}
}

@media \0screen\,screen\9 {
	.player-fixed-bottom{background-color: red;}
	.page .navbar-top .notifications .navbar-nav > li.dropdown .img-circle{margin: -27px 0 0 38px;}
		.player-fixed-bottom .player-buttons-left li span .svg, .player-fixed-bottom .player-buttons-right li span .svg{float: left;width: 23px;}
		.player-fixed-bottom .player-buttons-left li .svg, .player-fixed-bottom .player-buttons-right li .svg{width: 23px;}
		.player-fixed-bottom .red-button .svg{width: 28px;}
		.player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .back-button, .player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .next-button, .player-fixed-bottom .player .player-buttons-wrapper .player-buttons li a .play-button{height: 19px;}
		.page #music-videos .filter .navbar-default .navbar-collapse .navbar-nav select::-ms-expand{display: none;}

		.page #music-videos .video-track-constant .assets .player-counter img, .page #music-videos .video-track .assets .player-counter img{height: 12px;}
		.page #music-videos .video-track-constant .assets .buttons .love a .svg, .page #music-videos .video-track .assets .buttons .love a .svg{width: 22px;}
		.page #music-videos .video-track-constant .assets .buttons .add .svg, .page #music-videos .video-track .assets .buttons .add .svg{width: 22px;}
		.page #banner-discover .video-track .assets .buttons .love a .svg{width: 22px;}
		.page #banner-discover .video-track .assets .buttons .add .svg{width: 22px;}
		.page #banner-discover .video-track .assets .player-counter img{height: 12px;}

		.landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .back-button, .landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .next-button, .landing-page-track .track-wrapper .player .player-buttons-wrapper .player-buttons li a .play-button{height: 19px;}

		.page #banner-music-videos .video-track-constant .buttons .add .svg{width: 22px;}
		.page #banner-music-videos .video-track-constant .buttons .love a .svg{width: 22px;}

		 /*  Ie hero-video  */
        .embed-container iframe, .embed-container object, 
        .embed-container embed{width: 100% !important;height: 800px !important;overflow: hidden !important;margin-top: -70px !important; margin-bottom:-70px !important }
        
         /*  Artist discovry  */
        .admin #content #videos .video-track-constant .assets .player-counter img, .admin #content #videos .video-track .assets .player-counter img{height: 12px;}
        .admin #content #videos .video-track-constant .assets .buttons .add .svg, .admin #content #videos .video-track .assets .buttons .add .svg{width: 22px;}

        /*  Featured track  */
        .homepage #videos .video-track .assets .player-counter img{height: 12px;}
        .homepage #videos .video-track .assets .buttons .add .svg{width: 22px;}		

        #remix-competitions #videos .video-track-constant .assets .buttons .add .svg, #remix-competitions #videos .video-track .assets .buttons .add .svg{width: 22px !important;}
#remix-competitions #videos .video-track-constant .assets .player-counter img, #remix-competitions #videos .video-track .assets .player-counter img{height: 12px!important;}
}