<div class="left-side">
  <!-- <div class="landing-page-modals">
      <div data-ng-include=" 'frontweb/tpl/modals/donate-modal.html' "></div>
  </div> -->
  <section id="artist">
    <div class="image-wrapper">
      <div class="left-profile">
        <a ng-click="imagePreview(artist.avatar ? artist.avatar : _defaults.default_profile_image, artist.name)">
          <img ng-src="{{ cropimage(artist.avatar ? artist.avatar : _defaults.default_profile_image, 500, 500) }}" image-error="{{_defaults.default_profile_image}}" class="img-circle profile-avatar-lg img-circle-profile default-pointer circle-img-bg-white" image-preload=""/>
        </a>

        <div class="upload-button" ng-show="artist.slug == _user.slug">
          <!--<input id="upload" name="left_upload_artwork" accept="image/*" type="file" file-model ng-model="artist.profilePic" custom-on-change="updateProfileImage" style="display: none;" ng-required="!artist.profilePic">-->
          <input id="upload" name="left_upload_artwork" accept="image/*" type="file" file-model ng-model="artist.profilePic" custom-on-change="cropImageModal" style="display: none;" ng-required="!artist.profilePic">
          <button type="button" class="btn-default uploadfile" ><i class="fa fa-camera" aria-hidden="true"></i> Update Image</button>
        </div>

        <!-- <a ui-sref="app.artist.everything({slug:artist.slug})">
        <img class="img-circle profile-avatar-lg img-circle-profile" get-image="artist.avatar ? artist.avatar : _defaults.default_profile_image" bg-preload=""/>
        </a> -->
        <div class="circle-star">
          <i class="fa fa-star"></i>
        </div><!-- /.star -->
      </div>
    </div><!-- /.image-wrapper -->
    <div class="row">
      <div class="col-xs-12">
        <span class="text-red error" ng-if="leftImageError">Please select image from 201X201px and more.
        </span>
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
    <h2 class="wrap">{{artist.name | cut:true:10:' ...' }}</h2>
    <div class="socials-wrapper">
      <ul class="socials" ng-if="artist.souncloud_url || artist.facebook_url || artist.twitter_url || artist.youtube_url || artist.instagram_url">
        <li ng-if="artist.souncloud_url">
          <a ng-if="_user" target="_blank" ng-href="{{ artist.souncloud_url ? artist.souncloud_url:''}}" >
            <div class="vertical-center">
              <i class="fa fa-soundcloud"></i>
            </div><!-- /.vertical-center -->
          </a>

          <a ng-if="!_user" href="javascript:;" onClick="$('#signInModal').modal()" ng-controller ="AuthCtrl" ng-click="reset()">
            <div class="vertical-center">
              <i class="fa fa-soundcloud"></i>
            </div><!-- /.vertical-center -->
          </a>
        </li>
        <li ng-if="artist.facebook_url">
          <a ng-if="_user" target="_blank" ng-href="{{ artist.facebook_url ? artist.facebook_url:''}}" >
            <div class="vertical-center">
              <i class="fa fa-facebook"></i>
            </div><!-- /.vertical-center -->
          </a>

          <a ng-if="!_user" href="javascript:;" onClick="$('#signInModal').modal()" ng-controller ="AuthCtrl" ng-click="reset()">
            <div class="vertical-center">
              <i class="fa fa-facebook"></i>
            </div><!-- /.vertical-center -->
          </a>
        </li>
        <li ng-if="artist.twitter_url">
          <a ng-if="_user" target="_blank" ng-href="{{ artist.twitter_url ? artist.twitter_url:''}}" >
            <div class="vertical-center">
              <i class="fa fa-twitter"></i>
            </div><!-- /.vertical-center -->
          </a>

          <a ng-if="!_user" href="javascript:;" onClick="$('#signInModal').modal()" ng-controller ="AuthCtrl" ng-click="reset()">
            <div class="vertical-center">
              <i class="fa fa-twitter"></i>
            </div><!-- /.vertical-center -->
          </a>
        </li>
        <li ng-if="artist.youtube_url">
          <a ng-if="_user" target="_blank" ng-href="{{ artist.youtube_url ? artist.youtube_url:''}}" >
            <div class="vertical-center">
              <i class="fa fa-youtube"></i>
            </div><!-- /.vertical-center -->
          </a>

          <a ng-if="!_user" href="javascript:;" onClick="$('#signInModal').modal()" ng-controller ="AuthCtrl" ng-click="reset()">
            <div class="vertical-center">
              <i class="fa fa-youtube"></i>
            </div><!-- /.vertical-center -->
          </a>
        </li>
        <li ng-if="artist.instagram_url">
          <a ng-if="_user" target="_blank" ng-href="{{ artist.instagram_url ? artist.instagram_url:''}}" >
            <div class="vertical-center">
              <i class="fa fa-instagram"></i>
            </div><!-- /.vertical-center -->
          </a>

          <a ng-if="!_user" href="javascript:;" onClick="$('#signInModal').modal()" ng-controller ="AuthCtrl" ng-click="reset()">
            <div class="vertical-center">
              <i class="fa fa-instagram"></i>
            </div><!-- /.vertical-center -->
          </a>
        </li>
      </ul><!-- /.socials -->
    </div><!-- /.socials-wrapper -->
    <div ng-controller="FollowCtrl">
      <a ng-if="_user" href="javascript:;" class="red-button" ng-click="_followingTo.indexOf(artist.user_id) != -1 ? UnfollowArtist() : FollowArtist()"
      ng-show="_user.id!==artist.user_id"
      ng-class="{disable: _followingTo.indexOf(artist.user_id) != -1 }" >
      {{ _followingTo.indexOf(artist.user_id) != -1 ? 'Unfollow' : 'Follow' }}
      </a>

      <a ng-if="!_user" href="javascript:;" class="red-button" onClick="$('#signInModal').modal()" ng-controller ="AuthCtrl" ng-click="reset()">
      {{ _followingTo.indexOf(artist.user_id) != -1 ? 'Unfollow' : 'Follow' }}
      </a>
    </div>
    <ul class="description">
      <li ng-if="artist.website"><i class="fa fa-link"></i><a href="{{ artist.website }}" target="_blank" class="wrap">{{artist.website}}</a></li>
      <li ng-if="!artist.website"></li>
      <li ng-if="artist.city && artist.country" class="wrap"><i class="fa fa-map-marker"></i>{{ artist.city | capitalize}}, {{ artist.country}}</li>
      <li ng-if="artist.genres.length > 0">
        <i class="fa fa-music"></i>
        <ul class="tags">
          <li ng-repeat="genres in artist.genres">
            <a class="genres-truncate" title= "{{ genres.name }}" ui-sref="app.page.discover({ genre : genres.slug })">{{genres.name}}</a>
          </li>
        </ul><!-- /.tags -->
      </li>
      <div class="clearfix"></div><!-- /.clearfix -->
    </ul><!-- /.desciption -->
  </section><!-- /#artist -->

  <section id="artist-bio" ng-init="editing= false" ng-class="{'mt-none display-none':artist.bio =='' && user.id != artist.user_id}">
    <div class="title-wrapper" ng-class="{'user-bio':artist.bio =='' && user.id != artist.user_id}">
      <!-- <h2>Artist Bio</h2> -->
      <!-- <h2> {{ artist.user_type == 'artist' ? 'Artist Bio' : 'User Bio' }} </h2> -->

      <h2 ng-if="user.id == artist.user_id || artist.bio !='' ">Artist Bio</h2>
      <h2 ng-if="artist.bio =='' && user.id != artist.user_id"></h2>
      <!-- <h2 ng-if="artist.bio !='' && user.id != artist.user_id">Artist Bio</h2> -->

      <a href="javascript:;" class="color-black" ng-show="user.id == artist.user_id">
        <i ng-hide="editing" class="fa fa-pencil-square-o pull-right artist-bio-edit" ng-click ="editing = true;" aria-hidden="true" event-focus="click" event-focus-id="myDiv">
        </i>
      </a>
    </div><!-- /.title-wrapper -->
    <!-- <p ng-if="!editing" class=" wrap"  spellcheck="false" name="bio" id="myDiv"  ng-class="{'edit':editing,'empty-bio':artist.bio==''}" ng-hide="artist.bio=='' && !editing" ng-model="artist.bio" strip-br="true"  hm-read-more
        hm-text="{{ artist.bio }}"
        hm-limit="250"
        hm-more-text="read more"
        hm-less-text="read less"
        hm-dots-class="dots"
        hm-link-class="links"></p> -->
  <!-- <p ng-value="artist.bio" content-height="" class="user_content" hidden></p> -->
  <p ng-if="!editing"  id="myDiv" class="user_content wrap" ng-class="{'edit':editing,'empty-bio':artist.bio=='',less: hidden}" ng-model="artist.bio" contenteditable="{{editing}}" strip-br="true" spellcheck="false" ng-hide="artist.bio=='' && !editing"></p>
  <div class="link" ng-show="!editing">
    <a id="readmore"  ng-click="hidden = !hidden">{{hidden ? 'Read more' :'Read less' }} </a>
  </div>
   <p ng-if="editing" class=" wrap"  spellcheck="false" name="bio" id="myDiv"  ng-class="{'edit':editing,'empty-bio':artist.bio==''}" ng-hide="artist.bio=='' && !editing" ng-model="artist.bio" strip-br="true" contenteditable="{{editing}}"></p>

    <!-- <p ng-text-truncate="artist.bio"
   ng-tt-chars-threshold="4">
    </p> -->

    <input ng-show="editing" ng-click="updateBio(artist);editing=false;" type="submit" class="form-btn btn-red"  value="Update Bio">
    <button type="button" ng-show="editing" ng-click="editing=false;artist.bio=artist.oldBio" class="form-btn btn-black">Cancel</button>

    <!-- Show if bio is empty -->
    <p event-focus="click" event-focus-id="myDiv" ng-model="artist.bio" ng-hide="editing" data-text="Enter text here" ng-class="{'edit':!editing , 'empty-bio':artist.bio==''}"
      contenteditable="true" ng-click ="editReset();" ng-if="artist.bio=='' && user.id == artist.user_id">{{artist.bio}}</p>

      <p ng-model="artist.bio" ng-hide="editing" ng-if="artist.bio=='' && user.id != artist.user_id">{{artist.bio}}</p>
  </section><!-- /#artist-bio -->
  <section id="donate" ng-if="_user.subscriptionFeatures.indexOf('donate_button') != -1 && user.id != artist.user_id && artist.paypal_email && artist.paypal_email!=''">
    <a href="javascript:;" ng-click="addDonationModal();"   class="donate-link">
      <i class="fa fa-heart">
        <h2>Donate</h2>
        <i class="fa fa-music"></i></i>
    </a>
    <p>This artist has worked hard to provide you with their music for free. <a href="javascript:;">Why not give a little bit of love back?</a></p>
  </section><!-- /#donate -->
  <div class="clearfix"></div><!-- /.clearfix -->
</div><!-- /.left-side -->

<script type="text/ng-template" id="donation-modal.html">
    <div data-ng-include=" 'frontweb/tpl/modals/donate-modal.html' "></div>
</script>
