<div>
  <div ng-include=" 'frontweb/tpl/artist/sub-navbar2.html' " include-replace></div>
  
  <section id="videos" class="admin-everything" ng-init="getTracks()">
    <div class="row" ng-if="topVideos.length">
      <div class="col-lg-6" ng-repeat="video in topVideos">
        <div class="video-track">
            <img class="image-size" ng-src="{{ cropimage(video.artwork_file ? video.artwork_file : 'frontweb/assets/images/img_video-1.jpg', auto, 210) }}" image-error="frontweb/assets/images/img_video-1.jpg" alt="" image-preload=""/>
            <div class="assets">
                <div class="discover-height">
                  <div class="row">
                    <div class="col-xs-9">
                      <span title="{{ video.artist_name }}" class="author default-pointer" ui-sref="app.artist.everything({slug:video.artist_slug})">{{video.artist_name | cut:true:10:'...'}}</span>
                    </div><!-- /.col-xs-9 -->
                    <div class="col-xs-3">
                      <span class="player-counter"><img src="frontweb/assets/images/icon_play.svg" alt="Play icon" /> 0</span>
                    </div><!-- /.col-xs-3 -->
                  </div><!-- /.row -->
                  <div class="row">
                      <div class="col-xs-12">
                          <h3 title="{{ video.track_name }}">{{video.track_name | cut:true:10:'...'}}</h3>
                      </div><!-- /.col-xs-12 -->
                  </div><!-- /.row -->
                  <div class="row">
                    <div class="col-xs-12 fix-genre-height">
                      <ul class="tags">
                        <li ng-repeat="genres in video.video_genres">
                          <a href="javascript:;" title="{{ genres.name }}">{{genres.name | cut:true:9:'...'}}</a>
                        </li>
                      </ul><!-- /.tags -->
                    </div><!-- /.col-xs-12 -->
                  </div><!-- /.row -->
                </div>  
                <div class="clearfix"></div><!-- /.clearfix -->
                <div class="buttons">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="download">
                        <a ui-sref="app.single_video({trackId:video.slug})"><img src="frontweb/assets/images/icon_download.svg" alt="Download icon" class="svg" /></a>
                        <!-- <a href="javascript:;"><img src="frontweb/assets/images/icon_download.svg" alt="Download icon" class="svg" /></a> -->
                      </div><!-- /.download -->
                    </div><!-- /.col-xs-4 -->
                    <div class="col-xs-8">
                      <div class="add pull-right">
                        <a href="javascript:;" ng-click="_playlistVideoIds.indexOf(track.id) >= 0 ? removePlaylistTrack(video, 'video') : addPlaylistlModal1(video, 'video')"><img ng-src="{{_playlistVideoIds.indexOf(track.id) >= 0 ? 'frontweb/assets/images/icon_plus.svg' : 'frontweb/assets/images/icon_plus-player.svg'}}" alt="Plus player icon" class="svg" /></a>
                        <!-- <a href="javascript:;" ng-click="addPlaylistlModal1(video, 'video')"><img src="frontweb/assets/images/icon_plus-player.svg" alt="Plus player icon" class="svg" /></a> -->
                      </div><!-- /.add -->
                      <div class="love pull-right">
                        <a href="javascript:;" ng-click="addInVideoFavourites(video)">
                          <i ng-class="{'text-red fa fa-heart fa-lg' : _favVideoIds.indexOf(video.id) >= 0, 'fa fa-heart-o fa-lg' : _favVideoIds.indexOf(video.id) < 0}"></i>
                          {{video.favourite_count}}
                        </a>
                        <!-- <a href="javascript:;"><img src="frontweb/assets/images/icon_heart.svg" alt="Heart icon" class="svg" /> 158</a> -->
                      </div><!-- /.love -->
                    </div><!-- /.col-xs-8 -->
                  </div><!-- /.row -->
                </div><!-- /.buttons -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div><!-- /.assets -->
        </div><!-- /.video-track -->
      </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-xs-12">
        <div class="flexbox" ng-if="tracks.length">
          <div class="video-track-constant" ng-repeat="track in tracks track by $index">
            <div class="player-icon">
              <img class="image-size" image-error="{{ _defaults.default_track_image }}" ng-src="{{ cropimage(track.cover_image, 200, 200) }}" alt="" image-preload=""/>
              <span>
                <a ng-show="track.id != _currentTrack.id || track.type != _currentTrack.type" href="javascript:;" ng-click="playTrack(track, track.track_type)">
                  <i class="fa fa-play-circle player-play-circle"></i>
                </a>
              </span>  
              <a ng-if="loadingTrack && track.id == _currentTrack.id" href="javascript:;" class="image-buffer"><img class="loader-back" ng-src="frontweb/assets/images/ajax-loader.gif"></a>
              <a ng-if="track.id == _currentTrack.id && !loadingTrack && track.type == _currentTrack.type" href="javascript:;" ng-click="pauseTrack(track)">
              <i class="fa fa-pause-circle player-pause-circle"></i>
              </a>
            </div>
            <div class="assets" >
              <div class="row">
                <div class="col-xs-7">
                  <!-- <span class="author">{{track.artist_name}}</span> -->
                  <span title="{{ track.artist_name }}" class="author default-pointer" ui-sref="app.artist.everything({slug:track.artist_slug})">{{track.artist_name | cut:true:10:'...'}}</span>
                </div><!-- /.col-xs-7 -->
                <div class="col-xs-5">
                  <span class="player-counter"><img src="frontweb/assets/images/icon_play.svg" alt="Play icon" /> {{ track.play_count}}</span>
                </div><!-- /.col-xs-5 -->
              </div><!-- /.row -->
              <div class="">
                <div class="row">
                  <div class="col-xs-12">
                      <h3 class="" title="{{ track.track_name }} " >{{track.track_name | cut:true:10:' ...'}}</h3>
                  </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-xs-12 fix-genre-height">
                     <ul class="tags">
                      <li ng-repeat="genres in track.track_genres">
                        <a href="javascript:;" title="{{ genres.name }}">{{genres.name | cut:true:9:' ...'}}</a>
                      </li>
                    </ul> <!-- /.tags -->
                  </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
              </div>
              <div class="clearfix"></div><!-- /.clearfix -->
              <div class="buttons">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="download">
                      <a target="_blank" ui-sref="app.single_campaign({trackId : track.slug})"><img src="frontweb/assets/images/icon_download.svg" alt="Download icon" class="svg" /></a>
                    </div><!-- /.download -->
                  </div><!-- /.col-xs-4 -->
                  <div class="col-xs-8">
                    <div class="add pull-right">
                      <a href="javascript:;" ng-click="_playlistCampaignIds.indexOf(track.id) >= 0 ? removePlaylistTrack(track, 'campaign') : addPlaylistlModal1(track, 'campaign')"><img ng-src="{{_playlistCampaignIds.indexOf(track.id) >= 0 ? 'frontweb/assets/images/icon_plus.svg' : 'frontweb/assets/images/icon_plus-player.svg'}}" alt="Plus player icon" class="svg" /></a>
                      <!-- <a href="javascript:;" ng-click="addPlaylistlModal1(track, 'campaign')"><img src="frontweb/assets/images/icon_plus-player.svg" alt="Plus player icon" class="svg" /></a> -->
                    </div><!-- /.add -->
                    <div class="love pull-right">
                      <!-- <a href="javascript:;" ng-click="favouritesTrack.indexOf(track.id) < 0 && addInFavourites(track, $index)"><i ng-class="{'text-red fa fa-heart fa-lg' : favouritesTrack.indexOf(track.id) >= 0, 'fa fa-heart-o fa-lg' : favouritesTrack.indexOf(track.id) < 0}"></i> {{track.favourite_count}}</a> -->
                      <!-- <a href="javascript:;" ng-click="_favCampaignIds.indexOf(track.id) < 0 && addInFavourites(track, 'campaign')"><i ng-class="{'text-red fa fa-heart fa-lg' : _favCampaignIds.indexOf(track.id) >= 0, 'fa fa-heart-o fa-lg' : _favCampaignIds.indexOf(track.id) < 0}"></i> {{track.favourite_count}}</a> -->
                      <a href="javascript:;" ng-click="addInFavourites(track, 'campaign')"><i ng-class="{'text-red fa fa-heart fa-lg' : _favCampaignIds.indexOf(track.id) >= 0, 'fa fa-heart-o fa-lg' : _favCampaignIds.indexOf(track.id) < 0}"></i> {{track.favourite_count}}</a>
                    </div><!-- /.love -->
                  </div><!-- /.col-xs-8 -->
                </div><!-- /.row -->
              </div><!-- /.buttons -->
              <div class="clearfix"></div><!-- /.clearfix -->
            </div><!-- /.assets -->
          </div><!-- /.video-track -->
          <div class="video-track-constant"></div><!-- /.video-track-constant -->
        </div><!-- /.flexbox -->
        <div ng-if="loading" class="text-center base-font">
          <div class="clearfix">&nbsp;</div>
          Loading...
        </div>
        <div infinite-scroll="loadMoreEverythingTracks()" ></div>
        <div ng-if="!tracks.length && !topVideos.length && !loading" class="base-font"><div class="clearfix">&nbsp;</div> No tracks </div>
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
  </section><!-- /#videos -->
</div>