.admin {
  /* ~~~~~~~~~~ Navbar-top ~~~~~~~~~~ */

.navbar-top {
  background: #fff;
  border: none;
  margin-bottom: 0;

  .navbar-header {
    a {
      margin-left: 0px !important;
    }

    .navbar-toggle {
      border: none;
      margin-top: 15px;

      span {
        background-color: #000;
      }
    }
  }

  .navbar-collapse,
  .notifications {
    float: right;
  }

  .navbar-collapse {
    position: relative;
    padding-right: 25px;

    @media (max-width: 1199px) {
      padding-right: 20px;
    }

    @media (max-width: 991px) {
      float: none;
    }

    &:after {
      content: '';
      display: block;
      height: 25px;
      width: 1px;
      background: #cfcfcf;
      position: absolute;
      right: 0;
      top: 19px;

      @media (max-width: 991px) {
        content: none;
      }
    }

    .navbar-nav {
      li {
        &:first-child {
          a {
            @media (max-width: 991px) {
              padding-left: 0;
            }

            @media (max-width: 767px) {
              padding-left: 15px;
            }
          }
        }

        a {
          @include open('light');
          font-size: 14px;
          letter-spacing: 0.5px;
          color: #000;
          padding: 22px 15px;

          @media (max-width: 1199px) {
            padding: 22px 10px;
          }

          @media (max-width: 767px) {
            padding: 10px 15px;
          }
        }

        &.active,
        a:focus,
        a:hover {
          color: $red;
        }
      }
    }
  }

  .notifications {
    padding-left: 20px;

    @media (max-width: 1199px) {
      padding-left: 10px;
    }

    @media (max-width: 767px) {
      float: none;
      padding-left: 0;
    }

    .navbar-nav {
      > li {
        @media (max-width: 767px) {
          float: left;
        }
        a {
          padding: 22px 15px;
          font-size: 14px;
          @include open('light');
          letter-spacing: 0.5px;

          i {
            color: #5f5f5f;
            position: relative;
            @extend %single-transition;
          }

          &:hover,
          &:focus {
            i {
              color: $red;
              @extend %single-transition;
            }
          }

          .badge {
            position: absolute;
            background: $red;
            left: 21px;
            top: 19px;
            font-size: 9px;
          }
        }

        &.dropdown {
          .img-circle {
            width: 40px;
            height: 40px;
            float: right;
            margin: -10px 0 0 10px;
          }

          ul {
            margin-top: -1px;

            li {
              a {
                padding: 10px 15px;
              }
            }
          }
        }
      }
    }
  }
}


/* ~~~~~~~~~~ Background image ~~~~~~~~~~ */

.background-image {
  height: 460px;
  position: relative;

  @media (max-width: 767px) {
    height: 300px;
  }

  .black-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7f7f7f+100&0.01+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031e5799', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
    z-index: 1;
  }

  .stats {
    position: absolute;
    bottom: 25px;
    right: 30px;
    z-index: 500;

    @media (max-width: 767px) {
      display: none;
    }

    ul {
      li {
        float: left;
        text-align: right;
        color: #fff;
        margin-left: 50px;

        span {
          display: block;
        }

        .number {
          @include open('light');
          font-size: 25px;
          letter-spacing: 0.5px;
        }

        .title {
          @include raleway('light');
          font-size: 14px;
          margin-top: 4px;
        }
      }
    }
  }
}


/* ~~~~~~~~~~ Left side ~~~~~~~~~~~ */

.left-side {
  margin-left: 30px;
  width: 215px;
  float: left;

  @media (max-width: 767px) {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
}

.center-side {
  float: left;
  width: calc(100% - 520px);
  margin: 0 15px;

  @media (max-width: 991px) {
    width: calc(100% - 275px);
  }

  @media (max-width: 767px) {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0 15px;

    .container-fluid {
      padding: 0;
    }
  }
}

.right-side {
  float: right;
  width: 215px;
  margin-right: 30px;

  @media (max-width: 991px) {
    display: none;
  }
}


/* ~~~~~~~~~~ Content ~~~~~~~~~~ */

#content {
  background: #fff;

  #artist {
    text-align: center;

    .image-wrapper {
      position: relative;
      z-index: 2;

      img {
        width: 95%;
        height: auto;
        margin: -50% auto 0;
        border: 5px solid #fff;

        @media (max-width: 767px) {
          width: 200px;
          height: auto;
          margin-top: -150px;
        }
      }

      .circle-star {
        position: absolute;
        top: -85%;
        right: 5%;
        background: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;

        @media (max-width: 767px) {
          left:0;
          right:0;
          margin-left:auto;
          margin-right:auto;
          text-align: center;
          top: -165px;
        }

        i {
          color: $red;
          font-size: 26px;
          margin-top: 4px;
        }
      }
    }

    h2 {
      @include open('light');
      font-size: 25px;
      letter-spacing: 0.5px;
      margin-top: 10px;
    }

    .socials-wrapper {
      text-align: center;

      ul {
        display: inline-block;
        margin: 15px 0 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;

        li {
          float: left;
          margin: 0 2px;

          a {
            width: 25px;
            height: 25px;
            background: #040707;
            display: inline-block;

            &:hover,
            &:focus {
              opacity: 0.7;
            }

            i {
              font-size: 12px;
              color: #fff;
            }
          }
        }
      }
    }

    .red-button {
      background: $red;
      border-radius: 3px;
      display: inline-block;
      color: #fff;
      border-bottom: 2px solid #9a2226;
      padding: 12px 45px;
      @include open('bold');
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 2px;
      margin-top: 15px;

      &:hover,
      &:focus {
        background: #9a2226;
      }
    }

    .description {
      margin-top: 20px;
      position: relative;

      li {
        text-align: left;
        padding-left: 35px;
        @include open('regular');
        font-size: 14px;
        margin-bottom: 15px;
        color: #767676;

        a {
          color: #767676;
        }

        &:nth-child(2) {
          i {
            left: 4px;
          }
        }

        i {
          position: absolute;
          font-size: 18px;
          left: 0;
          color: #000;
        }

        .tags {
          margin-top: 10px;

          li {
            padding: 0;

            a {
              display: inline-block;
              background: #fff;
              border-radius: 2px;
              border: 1px solid rgba(0,0,0,0.1);
              padding: 5px;
              margin: 0 3px 3px 0;
              float: left;
              display: block;
              @include open('bold');
              font-size: 10px;
              text-transform: uppercase;
              color: #767676;

              &:hover,
              &:focus {
                background: #767676;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  #artist-bio {
    margin-top: 50px;

    .title-wrapper {
      border-bottom: 1px solid #d3d3d3;
      margin-bottom: 15px;

      h2 {
        border-bottom: 3px solid $red;
        display: inline-block;
        @include open('light');
        font-size: 20px;
        letter-spacing: 0.5px;
        padding-bottom: 15px;
      }
    }

    p {
      @extend %pt;
      color: $paragraph-grey;
      font-size: 14px;
      line-height: 20px;
      margin-top: 15px;

      @media (max-width: 767px) {
          font-size: 13px;
          line-height: 19px;
      }
    }
  }

  #donate {
    background: #f2f3f2;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    border: 1px solid #e5e5e5;

    .donate-link {
      .fa-heart {
        color: $red;
        font-size: 150px;
        position: relative;

        @media (max-width: 991px) {
          font-size: 100px;
        }

        h2 {
          color: #fff;
          font-size: 28px;
          position: absolute;
          top: 35px;
          @extend %absolute-center;
          @include open('extra-bold');
          text-transform: uppercase;

          @media (max-width: 991px) {
            font-size: 18px;
            top: 25px;
          }
        }

        .fa-music {
          color: #fff;
          font-size: 36px;
          position: absolute;
          top: 70px;
          @extend %absolute-center;

          @media (max-width: 991px) {
            top: 50px;
            font-size: 18px;
          }
        }
      }

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }

    p {
      @extend %pt;
      @include open('regular');
      font-size: 13px;
      margin-top: 10px;
      line-height: 20px;
      color: #767676;

      a {
        @include open('semi-bold');
        color: #000;
      }
    }
  }

  .navbar-default {
    margin-top: 25px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d3d3d3;

    .navbar-header {
      .menu {
        @include open('regular');
        font-size: 14px;
        float: right;
        text-transform: uppercase;
        color: #000;
        display: inline-block;
        margin: 17px 5px 0 0;
      }

      .navbar-toggle {
        border: none;

        span {
          background-color: #000;
        }
      }
    }

    .container-fluid {
      padding: 0;

      @media (max-width: 767px) {
        padding: 0 15px;
      }

      .navbar-collapse {
        padding: 0;

        @media (max-width: 767px) {
          padding: 0 15px;
        }

        .navbar-nav {
          li {
            padding: 12px 5px 0;

            @media (max-width: 991px) {
              padding: 12px 3px 0;
            }

            @media (max-width: 767px) {
              padding: 0;
            }

            a {
              color: #767676;
              @include open('regular');
              font-size: 13px;
              padding: 0 0 15px;
            }

            &:first-child {
              padding-left: 0;

              @media (max-width: 767px) {
                padding-left: 0px;
              }
            }

            &.active a,
            a:hover,
            a:focus {
              background: transparent;
              border-bottom: 3px solid $red;
              color: #000;

              @media (max-width: 767px) {
                border: none;
                color: $red;
              }
            }
          }
        }
      }
    }
  }

  .filter-tags {
      background: #e1e1e1;
      border-top: 1px solid #d2d2d2;
      padding: 8px 25px;
      margin-top: -20px;

      .tags {
        float: left;
        margin-top: 5px;

        @media (max-width: 767px) {
          float: none;
          margin-top: 0;
        }

        li {
          float: left;

          a {
            display: inline-block;
            background: #fff;
            border-radius: 2px;
            border: 1px solid rgba(0,0,0,0.1);
            padding: 5px;
            margin: 0 3px 3px 0;
            float: left;
            display: block;
            @include open('bold');
            font-size: 10px;
            text-transform: uppercase;
            color: #767676;

            &:hover,
            &:focus {
              background: #767676;
              color: #fff;
            }
          }

          &.active {
            a {
              background: $red;
              color: #fff;
            }
          }
        }
      }

      .red-button {
          background: $red;
          border-radius: 3px;
          display: inline-block;
          color: #fff;
          border-bottom: 2px solid #9a2226;
          @include open('bold');
          text-transform: uppercase;
          font-size: 11px;
          letter-spacing: 1px;
          text-align: center;
          padding: 10px 25px;

          @media (max-width: 767px) {
            float: left !important;
            margin-top: 10px;
          }

          &:hover,
          &:focus {
            background: #9a2226;
          }
        }
    }

  #videos {
    text-align: center;

    &.admin-everything {
      max-width: 915px;

      .flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
      }
    }

    .circle-plus-wrapper {
      position: absolute;
      top: -9px;
      right: -9px;
      border: 3px solid #fff;
      border-radius: 50%;

      .circle-plus {
        display: block;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        border: 2px solid #1a1a1a;
        text-align: center;
        padding: 0;
        background: #fff;

        &:hover {
          background: #1a1a1a;
          cursor: pointer;

          i {
            @extend %single-transition;
            color: #fff;
          }
        }

        i {
          color: #1a1a1a;
          font-size: 11px;
          @extend %single-transition;
          display: block;
          -webkit-transform:  rotate(45deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform:      rotate(45deg); /* IE 9 */
          transform:          rotate(45deg);
        }
      }
    }

    .flexbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -10px;
    }

    .video-track-constant {
      width: 205px;
      position: relative;

      @media (max-width: 479px) {
        width: 100%;
        height: auto;
      }
    }

    .video-track,
    .video-track-constant {
      margin: 30px 10px 0;

      img {
        width: 100%;
        height: auto;
      }

      .assets {
        background: #f2f3f2;
        border: 1px solid #e5e5e5;
        padding: 10px;
        margin-top: -5px;
        text-align: left;

        .author {
          display: block;
          @include open('regular');
          font-size: 10px;
          text-transform: uppercase;
          color: #767676;
        }

        .player-counter {
          float: right;
          display: block;
          @include open('regular');
          font-size: 10px;
          text-transform: uppercase;
          color: #767676;

          img {
            width: 10px;
            height: auto;
            position: relative;
            top: 2px;
          }
        }

        h3 {
          @include open('regular');
          font-size: 14px;
          color: #000;
        }

        .tags {
          margin-top: 10px;

          li {
            a {
              display: inline-block;
              background: #fff;
              border-radius: 2px;
              border: 1px solid rgba(0,0,0,0.1);
              padding: 5px;
              margin: 0 3px 3px 0;
              float: left;
              display: block;
              @include open('bold');
              font-size: 10px;
              text-transform: uppercase;
              color: #767676;

              &:hover,
              &:focus {
                background: #767676;
                color: #fff;
              }
            }
          }
        }

        .buttons {
          border-top: 1px solid rgba(0,0,0,0.1);
          margin: 10px -10px 0;
          padding: 10px 10px 0;

          .download {
            a {
              .svg {
                height: 17px;
                width: auto;

                path {
                  fill: red;
                }
              }
            }
          }

          .add {
            .svg {
              height: 15px;
              width: auto;
            }
          }

          .love {
            margin: -2px 15px 0 0;

            a {
              @include open('regular');
              font-size: 12px;
              text-transform: uppercase;
              color: #767676;

              .svg {
                height: 14px;
                width: auto;
                position: relative;
                top: 2px;
                margin-right: 2px;
              }
            }
          }
        }

        // .col-xs-12 {
        //   > .buttons {
        //     float: none;
        //     margin-top: 10px;
        //   }
        // }

        // .buttons {
        //   float: right;

        //   @media (max-width: 991px) {
        //     float: none;
        //     margin-top: 5px;
        //   }

        //   button {
        //     background: #f7f7f7;
        //     background: -moz-linear-gradient(top,  #f7f7f7 0%, #f0f0f0 100%);
        //     background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f0f0f0 100%);
        //     background: linear-gradient(to bottom,  #f7f7f7 0%,#f0f0f0 100%);
        //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f0f0f0',GradientType=0 );
        //     border: 1px solid #e3e3e3;
        //     border-radius: 5px;
        //     -webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
        //     -moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
        //     box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
        //     padding: 5px 10px;
        //     @include open('regular');
        //     font-size: 10px;
        //     @extend %single-transition;

        //     i {
        //         font-size: 13px;
        //         margin-right: 10px;
        //     }

        //     &:hover,
        //     &:focus {
        //         background: $grey;
        //         box-shadow: none;
        //         border-color: transparent;
        //         color: #fff;
        //         @extend %single-transition;
        //     }
        // }
        // }

        .red-button {
          background: $red;
          border-radius: 3px;
          display: inline-block;
          color: #fff;
          border-bottom: 2px solid #9a2226;
          width: 100%;
          @include open('bold');
          text-transform: uppercase;
          font-size: 11px;
          letter-spacing: 1px;
          margin-top: 10px;
          text-align: center;
          padding: 10px 0;

          &:hover,
          &:focus {
            background: #9a2226;
          }
        }
      }
    }
  }

  #send-demo {
    background-image: url('../images/admin/bgd_send-demo.jpg');
    @extend .background-cover;
    margin: 75px 15px 0 0;
    padding: 25px;
    text-align: center;

    h2 {
      color: #fff;
      text-transform: uppercase;
      @include open('extra-bold');
      font-size: 20px;

      span {
        font-size: 50px;
        display: inline-block;
        margin-top: -5px;
      }
    }

    a {
      background: rgba(0,0,0,0.7);
      border-radius: 3px;
      text-transform: uppercase;
      width: 150px;
      color: #fff;
      @include open('bold');
      letter-spacing: 2px;
      padding: 12px 0;
      display: inline-block;
      margin-top: 5px;
      font-size: 14px;

      &:hover,
      &:focus {
        background: #000;
      }
    }
  }

  #label-release {
    margin-top: 35px;

    h2 {
      @include open('light');
      font-size: 20px;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
      color: #2a2a2a;
    }

    .box {
      background: #f2f3f2;
      border: 1px solid #e5e5e5;
      padding: 15px;

      .col-sm-4 {
        padding-right: 0;

        > img {
          width: 100%;
          height: auto;
        }
      }

      h3,
      .record-label,
      .genre {
        @include open('light');
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.5px;
        display: block;
      }

      .red-button {
        background: $red;
        border-radius: 3px;
        display: inline-block;
        color: #fff;
        border-bottom: 2px solid #9a2226;
        width: 100%;
        @include open('bold');
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        margin-top: 10px;
        text-align: center;
        padding: 10px 0;

        &:hover,
        &:focus {
          background: #9a2226;
        }
      }
    }
  }

  #activity-feed {
    margin-top: 35px;

    h2 {
      @include open('light');
      font-size: 20px;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
      color: #2a2a2a;
    }

    .box {
      background: #f2f3f2;
      border: 1px solid #e5e5e5;
      padding: 15px;
      position: relative;

      ul {
        li {
          padding-left: 70px;
          margin-bottom: 20px;
          min-height: 45px;

          @media (max-width: 991px) {
            padding-left: 0;
            min-height: auto;
            margin-bottom: 15px;
          }

          img {
            width: 50px;
            height: 50px;
            position: absolute;
            left: 15px;

            @media (max-width: 991px) {
              display: none;
            }
          }

          p {
            @include open('light');
            font-size: 13px;
            line-height: 20px;

            strong {
              @include open('semi-bold');
            }

            a {
              color: $red;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  #following {
    margin-top: 35px;

    h2 {
      @include open('light');
      font-size: 20px;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
      color: #2a2a2a;
    }

    .box {
      background: #f2f3f2;
      border: 1px solid #e5e5e5;
      padding: 15px;
      position: relative;

      ul {
        li {
          padding-left: 90px;
          margin-bottom: 40px;

          @media (max-width: 991px) {
            padding-left: 0;
            margin-bottom: 15px;
          }

          img {
            width: 70px;
            height: 70px;
            position: absolute;
            left: 15px;

            @media (max-width: 991px) {
              display: none;
            }
          }

          .details {
            padding-top: 15px;

            h3 {
              @include open('light');
              font-size: 14px;
              line-height: 19px;
              margin-bottom: 5px;
            }

            i {
              font-size: 14px;
              color: $red;
              margin-right: 5px;
            }

            span {
              @include open('light');
              font-size: 12px;
            }
          }
        }
      }

      .view-all {
        text-decoration: underline;
        text-transform: uppercase;
        @include open('bold');
        font-size: 11px;
        letter-spacing: 1px;
        text-align: center;
        color: #360002;
        display: block;
        margin-bottom: 5px;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}


/* ~~~~~~~~~~ Footer ~~~~~~~~~~ */

footer {
  background: #13171a;
  margin-top: 30px;
  padding: 35px 0;

  ul {
    li {
      float: left;

      a {
        display: block;
        background: $red;
        width: 38px;
        height: 38px;
        float: left;
        margin-right: 10px;
        text-align: center;

        i {
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }

  span {
    color: #949495;
    text-align: right;
    @include raleway('medium');
    font-size: 12px;
    display: block;
    margin-top: 15px;

    @media (max-width: 767px) {
      text-align: left;
      margin-top: 35px;
    }
  }
}


/* ~~~~~~~~~~ Profile ~~~~~~~~~~ */

.navbar-profile {
  .navbar-collapse {
    position: relative;
    padding-right: 25px;

    @media (max-width: 1199px) {
      padding-right: 20px;
      float: none;
    }

    .navbar-nav {
      li {
        &:first-child {
          a {
            @media (max-width: 1199px) {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

#profile {
  margin-top: 30px;

  .col-md-6 {
    &:first-of-type {
      .box {
        @media (max-width: 991px) {
          border-bottom: none;
        }
      }
    }

    &:last-of-type {
      .box {
        @media (max-width: 991px) {
          border-top: none;
        }
      }
    }
  }

  #profile-owl .item{
    margin: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }
  .customNavigation{
    text-align: center;
  }
  //use styles below to disable ugly selection
  .customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .red-button,
  .black-button,
  input[type=submit] {
    background: $red;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    border-bottom: 2px solid #9a2226;
    padding: 8px 15px;
    @include open('bold');
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 15px;
    text-align: center;

    &:hover,
    &:focus {
      background: #9a2226;
      @extend %single-transition;
    }
  }

  input[type=submit] {
    border-top: none;
    border-right: none;
    border-left: none;
    @extend %single-transition;
  }

  .delete-account {
    @include open('bold');
    font-size: 11px;
    text-decoration: underline;
    color: #999999;
    margin-right: 15px;
    padding-top: 8px;
    display: inline-block;
  }

  .black-button {
    background: #000000;
    border-color: #3d3d3d;

    &:hover,
    &:focus {
      background: #3d3d3d;
    }
  }

  .confirm-buttons {
    float: right;
  }

  .box {
    background: #f2f3f2;
    border: 1px solid #e5e5e5;
    padding: 10px 25px 25px;

    &.release-promotion {
      margin-top: 30px;

      @media (max-width: 991px) {
        margin-top: -2px;
        border-top: none;
      }
    }

    label {
      display: block;
      margin: 15px 0 8px;
      @include open("regular");
      font-size: 13px;
      color: #767676;
    }

    input {
      width: 100%;
      border: 1px solid #dce1e4;
      @include open("regular");
      font-size: 13px;
      padding: 8px 10px;
      background: #fff;

      &[type=checkbox] {
        width: auto;
      }
    }

    select {
      width: 100%;
      border-radius: 0;
      background: #fff;
      border: 1px solid #dce1e4;
      @include open("regular");
      font-size: 13px;
      padding: 5px 10px;
    }

    .label-checkbox {
      @include open("regular");
      font-size: 13px;
    }

    h2 {
      margin: 15px 0;
      @include open('regular');
      font-size: 18px;
    }

    .img-circle,
    .img-banner {
      width: 100%;
      height: auto;
    }

    .img-circle {
      max-width: 200px;
    }

    .img-banner {
      @media (max-width: 1199px) {
        margin-top: 35px;
      }
    }
  }
}


/* ~~~~~~~~~~ Dashboard ~~~~~~~~~~ */

#socials {
  * {
    outline-color: #fff !important;
  }

  ul {
    li {
      float: left;
      width: 18%;
      margin-right: 2.5%;
      height: 130px;
      text-align: center;

      @media (max-width: 1199px) {
        width: 100%;
        margin: 0 0 15px 0;
      }

      i {
        display: block;
        font-size: 32px;
        color: #fff;
        margin-bottom: 10px;
      }

      .bootstrap-switch-container {
        border-radius: 50%;

        .bootstrap-switch-handle-on,
        .bootstrap-switch-handle-off {
           @include open('regular');
           font-size: 10px;
           background: #fff;
           color: #000;
        }

        .bootstrap-switch-label {
          background: transparent;
        }
      }

      &:first-child {
        background: #f7540e;
      }

      &:nth-child(2) {
        background: #5ea9dd;
      }

      &:nth-child(3) {
        background: #284486;
      }

      &:nth-child(4) {
        background: #cc181e;
      }

      &:nth-child(5) {
        background: #2e5e86;
        margin-right: 0;
      }
    }
  }

  .img-dashboard {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}


#runing-campaigns,
#your-soundcloud-tracks,
#your-payment-history,
#stats {
  background: #f4f4f4;
  border: 1px solid #e9e9e9;
  margin-top: 25px;
  padding: 15px;

  h2 {
    margin: 5px 0;
    @include open('regular');
    font-size: 18px;
    line-height: 26px;
  }

  .table-header {
    background: #000;
    margin-top: 15px;

    span {
      color: #fff;
      @include open('regular');
      font-size: 13px;
      line-height: 17px;
      padding: 10px;
      display: block;
    }
  }

  .table-body {
    background: #fff;
    border-left: 1px solid #e2eaeb;
    border-right: 1px solid #e2eaeb;

    .table-row {
      border-bottom: 1px solid #e2eaeb;
    }

    span {
      color: #6b6b6b;
      @include open('regular');
      font-size: 13px;
      line-height: 17px;
      padding: 10px;
      display: block;
    }
  }
}

#runing-campaigns {
  h2 {
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  .table-header {
    @media (max-width: 991px) {
      display: none;
    }
  }

  .table-body {
    .row {
      > div {
        @media (max-width: 991px) {
          &:before {
            color: #000;
            @include open('bold');
            font-size: 13px;
            line-height: 17px;
            padding: 10px 10px 0 10px;
            display: block;
            margin: 0 0 -5px;
            text-align: left;
          }

          * {
            text-align: left;
          }
        }

        &:first-of-type {
          @media (max-width: 991px) {
            &:before {
              content: 'Campaign Name';

            }
          }
        }

        &:nth-of-type(2) {
          @media (max-width: 991px) {
            &:before {
              content: 'Date Created'
            }
          }
        }

        &:nth-of-type(3) {
          @media (max-width: 991px) {
            &:before {
              content: 'Visits'
            }
          }
        }

        &:nth-of-type(4) {
          @media (max-width: 991px) {
            &:before {
              content: 'Downloads'
            }
          }
        }
      }
    }

    .manage-links {
      padding: 10px;
      float: right;

      @media (max-width: 991px) {
        float: none;
        margin-bottom: 20px;
      }

      li {
        float: left;
        margin: 0 5px;

        @media (max-width: 1299px) {
          float: none;
        }

        @media (max-width: 991px) {
          float: left;
        }

        a {
          i {
            color: #6b6b6b;
            @extend %single-transition;

            &:hover {
              color: #000;
              @extend %single-transition;
            }

            &.fa-times {
              color: #f2767b;

              &:hover {
                color: #bc292f;
              }
            }
          }
        }
      }
    }
  }
}

#your-soundcloud-tracks,
#your-payment-history {
  h2 {
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }

    @media (max-width: 767px) {
      margin-right: 75px;
    }
  }

  .refresh {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    @include open('semi-bold');
    color: #565656;

    @media (max-width: 767px) {
      float: left !important;
      margin-bottom: 15px;
    }

    i {
      font-size: 20px;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }

  .table-header {
    @media (max-width: 991px) {
      display: none;
    }
  }

  .table-body {
    .row {
      > div {
        @media (max-width: 991px) {
          &:before {
            color: #000;
            @include open('bold');
            font-size: 13px;
            line-height: 17px;
            padding: 10px 10px 0 10px;
            display: block;
            margin: 0 0 -5px;
            text-align: left;
          }
        }

        &:first-of-type {
          @media (max-width: 991px) {
            &:before {
              content: '#';

            }
          }
        }

        &:nth-of-type(2) {
          @media (max-width: 991px) {
            &:before {
              content: 'Track Name'
            }
          }
        }

        &:nth-of-type(3) {
          @media (max-width: 991px) {
            &:before {
              content: 'Create'
            }
          }
        }
      }
    }

    span {
      a {
        color: #6b6b6b;
        @include open('regular');
        font-size: 13px;
        line-height: 17px;

        &:hover {
          color: #000;
        }
      }
    }
  }

  .circle-plus {
    display: block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid #24bd28;
    text-align: center;
    margin: 10px auto;
    padding: 0;
    background: transparent;

    @media (max-width: 991px) {
      margin: 10px;
      text-align: center !important;
    }

    &:hover {
      background: #24bd28;
      cursor: pointer;

      i {
        @extend %single-transition;
        color: #fff;
      }
    }

    i {
      color: #24bd28;
      font-size: 11px;
      @extend %single-transition;
      display: block;
    }
  }
}

#stats {
  img {
    width: 100%;
    height: auto;
    margin-top: 5px;
  }

  .col-md-4 {
    text-align: center;

    h2 {
      text-align: left;
    }

    img {
      @media (max-width: 991px) {
        width: 200px;
      }
    }
  }
}

#createModal {
  .modal-header {
    border: none;

    h4 {
      @include open('regular');
      font-size: 18px;
      line-height: 26px;
    }
  }

  .form-wrapper {
    background: #f4f4f4;
    border: 1px solid #e9e9e9;
    margin-top: -10px;
    padding: 0 15px 15px;

    label {
      display: block;
      @include open('semi-bold');
      color: #808080;
      margin-top: 20px;
      font-size: 13px;
      line-height: 17px;
    }

    select {
      width: 100%;
      border-radius: 0;
      background: #fff;
      border: 1px solid #dce1e4;
      @include open("regular");
      margin-top: 10px;
      font-size: 13px;
      line-height: 17px;
      color: #808080;
      padding: 10px 15px;
    }

    input {
      display: block;
      width: 100%;
      margin-top: 10px;
      background: #fff;
      border: 1px solid #e2e6e8;
      @include open('regular');
      font-size: 13px;
      line-height: 17px;
      color: #808080;
      padding: 10px 15px;
    }

    .social {
      margin-top: 10px;
      padding: 15px;
      color: #fff;
      text-align: center;

      &:first-of-type {
        margin-top: 25px;
      }

      &.soundcloud {
        background: #f55624;

        .option {
          .tooltip-button {
            color: #f55624;
          }
        }
      }

      &.twitter {
        background: #62aadd;

        .option {
          .tooltip-button {
            color: #62aadd;
          }
        }
      }

      &.facebook {
        background: #2a4584;

        .option {
          .tooltip-button {
            color: #2a4584;
          }
        }
      }

      &.youtube {
        background: #cb1c27;

        .option {
          .tooltip-button {
            color: #cb1c27;
          }
        }
      }

      &.instagram {
        background: #315f85;

        .option {
          .tooltip-button {
            color: #315f85;
          }
        }
      }

      i {
        font-size: 54px;

        @media (max-width: 991px) {
          margin: 0 0 15px 10px;
          float: left;
        }
      }

      .option {
        width: 75px;
        float: left;
        margin: 0 8px;
        position: relative;

        @media (max-width: 767px) {
          margin-bottom: 15px;
        }

        h3 {
          @include open('medium');
          font-size: 13px;
        }

        .tooltip-button {
          background: rgba(255,255,255,0.35);
          width: 12px;
          height: 12px;
          text-align: center;
          font-size: 8px;
          @include open('bold');
          border: none;
          border-radius: 50%;
          padding: 0;
          display: block;
          position: absolute;
          top: -5px;
          right: -10px;
        }

        .bootstrap-switch-on {
          .bootstrap-switch-container {
            width: 112.5px !important;
            margin-left: 0 !important;
          }
        }

        .bootstrap-switch-off {
          .bootstrap-switch-container {
            width: 112.5px !important;
            margin-left: -37.5px !important;
          }
        }

        .bootstrap-switch {
          margin-top: 15px;
          width: 75px !important;

          .bootstrap-switch-container {
            border-radius: 50%;

            span {
              width: 37.5px !important;
            }

            .bootstrap-switch-handle-on,
            .bootstrap-switch-handle-off {
               @include open('regular');
               font-size: 10px;
               background: #fff;
               color: #000;
            }

            .bootstrap-switch-handle-off {
              // margin-left: -37.5px
            }

            .bootstrap-switch-label {
              background: transparent;
            }
          }
        }
      }
    }
    .page-background {
      #owl-demo .item{
        margin: 10px;

        img {
          width: 100%;
          height: auto;
        }
      }
      .customNavigation{
        text-align: center;
      }
      //use styles below to disable ugly selection
      .customNavigation a{
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }

    .buttons-wrapper {
      float: right;

      .red-button,
      .black-button {
        background: $red;
        border-radius: 3px;
        display: inline-block;
        color: #fff;
        border-bottom: 2px solid #9a2226;
        padding: 12px 45px;
        @include open('bold');
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 2px;
        margin-top: 15px;
        border: none;
        @extend %single-transition;

        &:hover,
        &:focus {
          background: #9a2226;
          @extend %single-transition;
        }
      }

      .black-button {
        background: #000000;
        border-color: #3d3d3d;

        &:hover,
        &:focus {
          background: #3d3d3d;
        }
      }
    }
  }
}

#your-payment-history {
  .table-body {
    .row {
      > div {
        &:first-of-type {
          @media (max-width: 991px) {
            &:before {
              content: 'Payment Date';

            }
          }
        }

        &:nth-of-type(2) {
          @media (max-width: 991px) {
            &:before {
              content: 'Plan Purchased'
            }
          }
        }

        &:nth-of-type(3) {
          @media (max-width: 991px) {
            &:before {
              content: 'Expires'
            }
          }
        }

        &:nth-of-type(4) {
          @media (max-width: 991px) {
            &:before {
              content: 'Total amount'
            }
          }
        }
      }
    }
  }

  .text-center {
    @media (max-width: 991px) {
      text-align: left !important;
    }
  }
}

}

