<div class="landing-page-modals ">
	<div class="modal fade" id="addToPlaylistModal1" tabindex="-1" role="dialog" aria-labelledby="addToPlaylistModal1Label">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
			        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
			        <h2 class="modal-title" id="addToPlaylistModal1Label">Add To Playlist</h2>
		      	</div>
		      	<div class="modal-body">
		        	<h3>Show this artist some support by following them on Soundcloud:</h3>

		        	<!-- <a href="javascript:;" class="sign-up-facebook"><i class="fa fa-facebook"></i> <span>Sign up with Facebook</span></a> -->
		        	<!-- <a href="{{ ('/facebook/redirect') }}" target="_blank" class="sign-up-facebook"><i class="fa fa-facebook"></i> <span>Sign up with Facebook</span></a> -->

		        	<a href="javascript:;" class="connect-soundcloud" ng-click="playlistFollowScArtist(list.track, list.type)"><i class="fa fa-soundcloud"></i> <span>Follow On Soundcloud</span></a>

		        	<p><a href="javascript:;" ng-click="addPlaylistlModal2()">No thanks, just add to playlist</a></p>
		      	</div>
		    </div>
	 	</div>
	</div>
</div>