<!-- <div class="landing-page-modals ">
	<div class="modal fade editPlaylistModal" id="createPlaylistModal2" tabindex="-1" role="dialog" aria-labelledby="addToPlaylistModal2Label">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header"> -->
			        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
			        <!-- <h2 class="modal-title" id="addToPlaylistModal2Label">Update Playlist</h2>
		      	</div>
		      	<div class="modal-body">
		        	<h3>Want to update playlist</h3>

		        	<form ng-submit="updatePlaylistName(playlist)" name="trackForm">
		        		<input type="hidden" name="playlistId" ng-model="playlist.id"/>
		        		<input type="text" name="playlistName" ng-model="playlist.playlist_name" placeholder="playlist name" />
		        		<input type="submit" value="Update playlist" />
		        	</form>
		      	</div>
		    </div>
	 	</div>
	</div>
</div>	 -->