<div class="custom-modal landing-page-modals">
  	<div class="modal-dialog modal-dialog-comment" role="document">
	    <div class="modal-content">
	      	<div class="modal-header">
	      		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h2 class="modal-title font-open" id="signInModalLabel">Deactivate Account</h2>
	      	</div>
	      	<div class="modal-body">
	        	
	        	<form  ng-submit="deleteAccForm.$valid && delete(password)" name="deleteAccForm" id="deleteAccForm" class="font-open" novalidate >
	        		<p>Please be aware that if you deactivate your account, your subscription plan that you have been price locked on will no longer be available if you wish to return on a later date.</p>
	        		<input type="password" class="font-open" name="password" id="password" ng-model="password" placeholder="Enter password" required/>
		        		<span class="text-red" ng-if="deleteAccForm.$submitted">
	                      	<div class="error-open" ng-if="deleteAccForm.password.$error.required">
	                      		{{ error = ''}} {{ error }}
	                      		Please enter password.
	                      	</div>
	                      	<div class="error-open" ng-if="error && !deleteAccForm.password.$error.required">{{ error}} </div>
	                    </span>
		            <input type="submit" ng-disabled="form.$invalid || isSubmitting ? true : false" value="{{ isSubmitting ? 'Processing...' : 'Deactivate Account' }}" />
	        	</form>
	      	</div>
	    </div>
 	</div>
</div>
