<div class="modal fade custom-modal forgotPassword" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" ng-controller="AuthCtrl">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
		        <h2 class="modal-title" id="signInModalLabel">Forgot Password </h2>
	      	</div>
	      	<div class="modal-body">
	        	<form  ng-submit="forgotPasswordForm.$valid && forgotPassword(user)" id="forgotPasswordForm" name="forgotPasswordForm"  novalidate >
	        		<span class="text-red" ng-if="forgotPasswordForm.$submitted">
	                	<!-- <div ng-if="error">{{ error }}</div> -->
	                	<div class="error"> {{ errors['email'][0] }} </div>
		            </span>
	        		<input type="email" name="email" ng-model="user.email" placeholder="Email" required/>
	        		<span class="text-red" ng-if="forgotPasswordForm.$submitted">
		                <div>
		                	<div class="error" ng-if="forgotPasswordForm.email.$error.required">
		                		{{ errors['email'][0] ='' }}
		                		Please enter email.
		                	</div>
		            	</div>
		            	<div>
		                	<div class="error" ng-if="forgotPasswordForm.email.$error.email">
		                		{{ errors['email'][0] ='' }}
		                		Please enter valid email.
		                	</div>
		            	</div>
		            </span>
	        		<input type="submit" ng-disabled="form.$invalid || isSubmitting ? true : false" value="{{ isSubmitting ? 'Processing...' : 'Send' }}" />
	        	</form>
	        	<span class="have-an-account">Don't have an account? <a href="javascript:;" id="loginShow" onClick="$('#signInModal').modal()">Login</a></span>
	      	</div>
	    </div>
	</div>
</div>
<script>
	$(document).ready(function(){
        $('#loginShow').click(function () {
         $('#forgotPasswordModal').modal('hide');
         });
      });
	</script>