<div class="modal fade custom-modal resetPassword" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" ng-controller="AuthCtrl">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
		        <h2 class="modal-title" id="forgotPasswordModalLabel">Reset  Password </h2>
	      	</div>
	      	<div class="modal-body">
	        	<form  ng-submit="resetPasswordForm.$valid && resetPassword(user)" name="resetPasswordForm" id="resetPasswordForm" novalidate >
	        		
		            <span class="text-red" ng-if="resetPasswordForm.$submitted">
		                <div>
		                	<!-- <span ng-if="error" class="error">{{ error }}</span> -->
		                	<div class="error"> {{ errors['reset_code'][0] }} </div>
		            	</div>
		            </span>
	        		<input type="password" name="password" id="password" ng-model="user.password" placeholder="Password" ng-minlength="4" required/>
	        		<span class="text-red" ng-if="resetPasswordForm.$submitted">
                      	<div class="error" ng-if="resetPasswordForm.password.$error.required">Please enter password.</div>
                      	<div ng-if="resetPasswordForm.password.$error.minlength" class="error">The password must be at least 4 characters.</div>
                    </span>
		            <input  type="password" id="password_confirmation" name="password_confirmation" ng-model="user.password_confirmation" placeholder="Confirm Password " required/>
		            <span class="text-red" ng-if="resetPasswordForm.$submitted">
                      	<!-- <div ng-if="errors['password_confirmation']" class="error"> {{ errors['password_confirmation'][0] }} </div> -->
                      	<div ng-if="resetPasswordForm.password_confirmation.$error.required" class="error">
                      		{{ errors['password'][0] = ''}}
                      		Please enter confirm password.
                      	</div>
                      	<div ng-if="errors['password']" class="error"> 

                      		{{ errors['password'][0] }} </div>
                      	<!-- <div class="error" ng-if="resetPasswordForm.password_confirmation.$error.pwmatch">
                      	{{ resetPasswordForm.password_confirmation.$error.required = ''}}
                  		Password's does not  match.</div> -->
                    </span>
	        		<input type="submit" ng-disabled="form.$invalid || isSubmitting ? true : false" value="{{ isSubmitting ? 'Processing...' : 'Send' }}" />
	        	</form>
	      	</div>
	    </div>
 	</div>
</div>

