<div class="modal-header base-font font16">
	<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button> -->
	 <h2 class="modal-title" id="DonateModalLabel">Your free trial has now come to an end!</h2> 
</div>
<div class="modal-body" id="welcome-popup">	
	<form name="welcome_popup">
		<div class="row">
			<div class="col-xs-12">
				<!-- <p style="font-family: Raleway, sans-serif;font-size: 20px;text-align: center;line-height: 25px;"><b>Your free trial has now come to an end!</b></p> --><br>
				<p style="font-family: Raleway, sans-serif;text-align: center;line-height: 25px;">You will need to upgrade in order to make full use of the platform, alternatively you can continue using the free 'Test The Waters' plan with limitations now in place.<br/><br/>Many thanks!<br/>STM Team</p>
			 
				
 	        </div>
	        <!-- <button type="button" class="" data-dismiss="modal">OK</button> -->
	    </div>
	</form>
</div>
<div class="modal-footer">
<div class='checkbox' style="float:left">
	<label style="font-family: Raleway, sans-serif;font-size:15px"><input style="margin-top: 1px;" type='checkbox' ng-model='do_not_show' value=''>Do not show this dialog again.</label>
</div>
  <button type="button" class="btn btn-default" ng-click="close(do_not_show)">Close</button>
</div>
 

