  <div ng-include=" 'frontweb/tpl/modals/submit-remix-modal.html' " include-replace></div>
  <div ng-include=" 'frontweb/tpl/modals/download-remix-stems-modal.html' " include-replace></div>
  
  <div class="background-image background-cover" ng-style="{'background-image': 'url('+_defaults.default_banner_image+')'}">
    <div class="vertical-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Remix Competition</h1>
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.vertical-center -->
  </div><!-- /.background-image background-cover -->

  <div class="about-stm">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>The place for Sore Thumb Media artists to show off their remix skills.</h2>
        </div><!-- /.col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.about-stm -->

  <div class="parallax-window banner" data-parallax="scroll" data-bleed="10" data-image-src="frontweb/assets/images/homepage/bgd_artists-say.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <section id="banner-music-videos" class="banner-inner">
            <div class="row">
              <div class="col-xs-12">
                <h2>Competition Winner</h2>
              </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
            <div class="row" ng-if="winner.campaign">
              <div class="row-height">
                <div class="col-md-8 col-sm-height col-sm-top custom-padding">
                  <div class=" video-font" ng-bind-html="winner.url | youtubevideo:357"> 
                  <div class="">
                  </div>
                  </div>
                </div><!-- /.col-md-8 col-sm-height col-sm-top -->
                <div class="col-md-4 col-sm-height col-sm-top">
                  <div class="video-track-constant">
                    <div class="assets">
                      <div class="latest-winner-fixed-size">
                        <div class="row">
                          <div class="col-xs-7">
                            <a title="{{ winner.participated_artist_name }}" href="javascript:;" ng-if="_user">
                              <!-- ui-sref="app.artist.tracks({slug:winner.participated_artist_slug})" -->
                              <span class="author artist-name-truncate" ng-if="winner.participated_artist_name!='Sore Thumb Media'">
                                {{ winner.participated_artist_name }}
                              </span>
                            </a>
                            <a title="{{ winner.participated_artist_name }}" href="javascript:;" ng-if="!_user" onClick="$('#signInModal').modal();">
                              <span class="author artist-name-truncate"  ng-if="winner.participated_artist_name!='Sore Thumb Media'">
                                {{ winner.participated_artist_name }}
                              </span>
                            </a>
                          </div><!-- /.col-xs-7 -->
                          <div class="col-xs-5">
                            <span class="player-counter"><img src="frontweb/assets/images/icon_play.svg" alt="Play icon" /> {{winner.campaign.play_count}} </span>
                          </div><!-- /.col-xs-5 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 title="{{ winner.campaign.track_name }}" class="track-name-truncate " ng-class="{'blue-btn':winner.campaign.track_name.length>26}" >
                                  <a ng-class="{'first-link':winner.campaign.track_name.length>26} " >{{ winner.campaign.track_name }}</a></h3>
                              <div class="line"></div>
                                <div>
                                  <p class="desc-size wrap font12" data-ng-bind="winner.description" data-ellipsis></p>
                                </div>

                                <!-- <p class="wrap" title="{{ winner.description }}"> {{ winner.description | cut:true:98:' ...'}} </p> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam odio sint beatae aliquam, unde deserunt repellendus. Quas, veritatis! Ullam quibusdam qui distinctio dolor, nisi accusantium eaque eveniet iusto facere deleniti!</p> -->
                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                        <div class="row">
                          <div class="col-xs-12">
                            <ul class="tags">
                              <li ng-repeat="genres in winner.campaign.track_genres"><a ui-sref="app.page.discover({ genre : genres.slug })" title = "{{ genres.name}}" href="javascript:;">{{genres.name}}</a>
                              </li>
                              <li ng-repeat="genres in winner.campaign.track_sub_genres"><a ui-sref="app.page.discover({ genre : genres.slug })" title = "{{ genres.name}}" href="javascript:;">{{genres.name}}</a>
                              </li>
                              <li ng-repeat="genres in winner.campaign.campaign_moods"><a ui-sref="app.page.discover({ mood : genres.slug })" title = "{{ genres.name}}" href="javascript:;">{{genres.name}}</a>
                              </li>
                            </ul><!-- /.tags -->
                          </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                      </div>
                      <div class="buttons">
                        <div class="row">
                          <div class="col-xs-4">
                            <div class="download">
                              <a target="_blank" ui-sref="app.single_campaign({trackId : winner.campaign.slug})">
                                <img src="frontweb/assets/images/icon_download.svg" alt="Download icon" class="svg" /></a>
                            </div><!-- /.download -->
                          </div><!-- /.col-xs-4 -->
                          <div class="col-xs-8">
                            <div class="add pull-right">
                              <a href="javascript:;" ng-if="_user" ng-click="_playlistCampaignIds.indexOf(winner.campaign.id) >= 0 ? removePlaylistTrack(winner.campaign, 'campaign') : addPlaylistlModal1(winner.campaign, 'campaign')"><img ng-src="{{_playlistCampaignIds.indexOf(winner.campaign.id) >= 0 ? 'frontweb/assets/images/icon_plus.svg' : 'frontweb/assets/images/icon_plus-player.svg'}}" alt="Plus player icon" class="svg" /></a>
                              <!-- <a href="javascript:;" ng-if="_user" ng-click="addPlaylistlModal1(winner, 'remix')"><img src="frontweb/assets/images/icon_plus-player.svg" alt="Plus player icon" class="svg" /></a> -->
                                                                  
                              <a href="javascript:;" ng-if="!_user" ng-controller ="AuthCtrl" ng-click="reset()" onClick="$('#signInModal').modal()">
                                  <img src="frontweb/assets/images/icon_plus-player.svg" alt="Plus player icon" class="svg" />
                              </a>
                            </div><!-- /.add -->
                            <div class="love pull-right">
                              <a href="javascript:;" ng-if="!_user" ng-controller ="AuthCtrl" ng-click="reset()" onClick="$('#signInModal').modal()"><i class="fa fa-heart-o fa-lg"></i>
                                  {{winner.campaign.favourite_count}}
                              </a>
                              <a href="javascript:;" ng-if="_user" ng-click="addInFavourites(winner.campaign, 'campaign')"><i ng-class="{'text-red fa fa-heart fa-lg' : _favCampaignIds.indexOf(winner.campaign.id) >= 0, 'fa fa-heart-o fa-lg' : _favCampaignIds.indexOf(winner.campaign.id) < 0}"></i> {{winner.campaign.favourite_count}} </a>
                            </div><!-- /.love -->
                          </div><!-- /.col-xs-8 -->
                        </div><!-- /.row -->
                      </div><!-- /.buttons -->
                      <div class="clearfix"></div><!-- /.clearfix -->
                    </div><!-- /.assets -->
                  </div><!-- /.video-track -->
                </div><!-- /.col-md-4 col-sm-height col-sm-top -->
              </div><!-- /.row-height -->
            </div><!-- /.row -->
            <div ng-if="!winner.campaign" class="row text-center text-gray font-raleway">Competition Winner Not Found.</div>
          </section><!-- /#banner-music-videos -->
        </div><!-- /.col-md-10 col-md-offset-1 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.banner -->

  <section id="remix-competitions" >
    
    <div class="center-side center-side-width">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
          <section id="videos">
            <div class="row">
              <div class="col-xs-12">
                <div class="flexbox-header">
                  <h2>Participated Tracks</h2>
                </div><!-- /.flexbox-header -->
              </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
            <div class="row">
              <div class="col-xs-12">
                <div class="flexbox participated-track-padding" ng-if="tracks.length">
                  <div class="video-track-constant" ng-repeat="track in tracks">
                    <div class="player-icon">
                      <img class="image-size" image-error="{{ _defaults.default_track_image }}" ng-src="{{ cropimage(track.cover_image,500,500)}}" alt="" />
                      <span>
                        <a ng-show="track.id != _currentTrack.id || track.type != _currentTrack.type" href="javascript:;" ng-click="playTrack(track, track.track_type)">
                          <i class="fa fa-play-circle player-play-circle"></i>
                        </a>
                      </span>
                      <a ng-if="loadingTrack && track.id == _currentTrack.id" href="javascript:;" class="image-buffer"><img class="loader-past-comp" ng-src="frontweb/assets/images/ajax-loader.gif"></a>
                      <a ng-if="track.id == _currentTrack.id && !loadingTrack && track.type == _currentTrack.type" href="javascript:;" ng-click="pauseTrack(track)">
                        <i class="fa fa-pause-circle player-pause-circle"></i>
                      </a>
                    </div>
                    <div class="assets">
                        <div class="row">
                          <div class="col-xs-7">
                            <span title="{{ track.participated_artist_name }}" class="author default-pointer artist-name-truncate" ng-if="_user && track.participated_artist_name!='Sore Thumb Media'">
                              <!-- ui-sref="app.artist.tracks({slug:track.participated_artist_slug})" -->
                              {{track.participated_artist_name}}</span>
                            <span title="{{ track.participated_artist_name }}" class="author default-pointer artist-name-truncate" ng-if="!_user" ng-controller ="AuthCtrl" ng-click="reset()" onClick="$('#signInModal').modal()">{{track.participated_artist_name }}</span>
                          </div><!-- /.col-xs-7 -->
                          <div class="col-xs-5">
                            <span class="player-counter"><img src="frontweb/assets/images/icon_play.svg" alt="Play icon" /> {{track.play_count}} </span>
                          </div><!-- /.col-xs-5 -->
                        </div><!-- /.row -->
                        <div class="">
                          <div class="row">
                              <div class="col-xs-12">
                                  <h3 class="track-name-truncate " ng-class="{'blue-btn':track.track_name.length>26}"title="{{ track.track_name }}" >
                                    <a ng-class="{'first-link':track.track_name.length>26} ">{{track.track_name}}</a>
                                  </h3>
                              </div><!-- /.col-xs-12 -->
                          </div><!-- /.row -->
                          <div class="row">
                            <div class="col-xs-12 fix-genre-height">
                              <ul class="tags">
                                <li ng-repeat="genres in track.track_genres">
                                  <a href="javascript:;" ui-sref="app.page.discover({ genre : genres.slug })">{{genres.name}}</a>
                                </li>
                                <li ng-repeat="genres in track.track_sub_genres">
                                  <a href="javascript:;" ui-sref="app.page.discover({ genre : genres.slug })">{{genres.name}}</a>
                                </li>
                                <li ng-repeat="genres in track.campaign_moods">
                                  <a href="javascript:;" ui-sref="app.page.discover({ mood : genres.slug })">{{genres.name}}</a>
                                </li>
                              </ul><!-- /.tags -->
                            </div><!-- /.col-xs-12 -->
                          </div><!-- /.row -->
                        </div>
                        <div class="clearfix"></div><!-- /.clearfix -->
                        <div class="buttons">
                          <div class="row">
                            <div class="col-xs-4">
                              <div class="download">
                                <a target="_blank" ui-sref="app.single_campaign({trackId : track.slug})"><img src="frontweb/assets/images/icon_download.svg" alt="Download icon" class="svg" /></a>
                              </div><!-- /.download -->
                            </div><!-- /.col-xs-4 -->
                            <div class="col-xs-8">
                              <div class="add pull-right">
                                <!-- <a href="javascript:;" ng-if="_user" ng-click="addPlaylistlModal1(track, 'remix')"><img src="frontweb/assets/images/icon_plus-player.svg" alt="Plus player icon" class="svg" /></a> -->
                                <a href="javascript:;" ng-if="_user" ng-click="_playlistCampaignIds.indexOf(track.id) >= 0 ? removePlaylistTrack(track, 'campaign') : addPlaylistlModal1(track, 'campaign')"><img ng-src="{{_playlistCampaignIds.indexOf(track.id) >= 0 ? 'frontweb/assets/images/icon_plus.svg' : 'frontweb/assets/images/icon_plus-player.svg'}}" alt="Plus player icon" class="svg" /></a>
                                    
                                <a href="javascript:;" ng-if="!_user" ng-controller ="AuthCtrl" ng-click="reset()" onClick="$('#signInModal').modal()">
                                    <img src="frontweb/assets/images/icon_plus-player.svg" alt="Plus player icon" class="svg" />
                                </a>
                              </div><!-- /.add -->
                              <div class="love pull-right">
                                <a href="javascript:;" ng-if="!_user" ng-controller ="AuthCtrl" ng-click="reset()" onClick="$('#signInModal').modal()"><i class="fa fa-heart-o fa-lg"></i>
                                    {{track.favourite_count}}
                                </a>
                                <a href="javascript:;" ng-if="_user" ng-click="addInFavourites(track, 'campaign')"><i ng-class="{'text-red fa fa-heart fa-lg' : _favCampaignIds.indexOf(track.id) >= 0, 'fa fa-heart-o fa-lg' : _favCampaignIds.indexOf(track.id) < 0}"></i> {{track.favourite_count}} </a>
                              </div><!-- /.love -->
                            </div><!-- /.col-xs-8 -->
                          </div><!-- /.row -->
                        </div><!-- /.buttons -->
                        <div class="clearfix"></div><!-- /.clearfix -->
                    </div><!-- /.assets -->
                  </div><!-- /.video-track -->
                  <div ng-repeat="n in [] | range:tracks.length%3" class="video-track-constant" ></div>
                </div><!-- /.flexbox -->
                <div ng-if="!tracks.length" class="font-raleway"><div class="clearfix">&nbsp;</div> No Participated Tracks </div>
              </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
          </section><!-- /#videos -->
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
      <div class="clearfix"></div><!-- /.clearfix -->
    </div><!-- /.center-side -->
    <div class="right-side">
      <div class="admin">
        <div id="profile" class="back-to-current">
          <a ui-sref="app.page.remix_competitions" class="red-button" href="/remix-competition/competition-1">Back To Current Competition</a>
        </div>
      </div>
      <section id="past-competitions">
        <div class="row">
          <div class="col-xs-12">
            <div class="past-competitions-header">
              <h2>Past Competitions</h2>
            </div><!-- /.past-competitions-header -->
            <select id="past-competitions-dropdown" name="past-competitions-dropdown" ng-model="competition">
              <option value="">Select past competition</option>
              <option ng-repeat="past in pastCompetition" value="{{past.name}}">{{past.name}}</option>
            </select>
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-xs-12">
            <div class="past-competition-box" ng-repeat="past in pastCompetition | filter : competition ? competition : '' ">
              <div class="row">
                <div class="col-md-4">
                  <img ng-src="{{ past.cover_image}}" image-error="{{_defaults.default_track_image}}" class="past-competition-height" />
                  <!-- <img src="frontweb/assets/images/img_video-2.jpg" alt="" /> -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-8">
                  <a href="javascript:;">
                    <!-- ui-sref="app.artist.tracks({slug:past.artist_slug})" -->
                    <span class="author artist-name-truncate" ng-if="past.artist_name!='Sore Thumb Media'">
                      {{past.artist_name}}
                    </span>
                  </a>
                  <h3 title="{{ past.name }}" >{{past.name | cut:true:20:'...'}}</h3>
                  <span class="date">Competition end:
                    <span ng-bind="formatDate(past.end_date) | date:'dd MMM yyyy'"></span>
                  </span>
                  <a ui-sref="app.page.past_remix_competition({slug:past.slug})" class="red-button">See all remixes</a>
                </div><!-- /.col-md-8 -->
              </div><!-- /.row -->
            </div><!-- /.past-competition-box -->
            <!-- <div class="text-center font-raleway" ng-if="!pastCompetition.length">
              <br>Past Competitions Not Found.
            </div> -->
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
      </section><!-- /#past-competitions -->
      <div class="clearfix"></div><!-- /.clearfix -->
    </div><!-- /.right-side -->

    <div class="clearfix"></div><!-- /.clearfix -->
  </section><!-- /.remix-competitions -->