/* ~~~~~~~~~~ Bootstrap ~~~~~~~~~~ */

@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


/* ~~~~~~~~~~ Reset ~~~~~~~~~~ */

@import "general/reset";


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Fonts ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@mixin fira($fontName) {
    @if $fontName == "ultra" {
        font-weight: 300;
    } @elseif $fontName == "light" {
        font-weight: 400;
    }
    font-style: normal;
    font-family: 'Fira Sans', sans-serif;
}

@mixin raleway($fontName) {
    @if $fontName == "light" {
        font-weight: 300;
    } @elseif $fontName == "regular" {
        font-weight: 400;
    } @elseif $fontName == "medium" {
        font-weight: 500;
    } @elseif $fontName == "semi-bold" {
        font-weight: 600;
    } @elseif $fontName == "bold" {
        font-weight: 700;
    } @elseif $fontName == "extra-bold" {
        font-weight: 800;
    }
    font-style: normal;
    font-family: 'Raleway', sans-serif;
}

%pt {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
}

@mixin open($fontName) {
    @if $fontName == "regular" {
        font-weight: 400;
    } @elseif $fontName == "bold" {
        font-weight: 700;
    } @elseif $fontName == "extra-bold" {
        font-weight: 800;
    }
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Colors ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$red: #eb1c24;
$grey: #494949;
$paragraph-grey: #999;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ All projects repeat ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

%absolute-center {
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

%single-transition {
    transition: all 0.2s ease-in-out;
}

.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    -ms-transform: translateY(-50%); /* IE 9 */
    transform: translateY(-50%);
}

.background-cover {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.hide {
    text-indent: -998em;
    height: 0px;
}

.clearfix {
    clear: both;
}

a {
    text-decoration: none;
    @extend %single-transition;

    &:hover,
    &:focus {
        @extend %single-transition;
        text-decoration: none;
    }

    &:active,
    &:focus {
        outline:none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
}

textarea:focus,
input:focus{
    outline: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ General ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

%paragraph {
    @extend %pt;
    color: $paragraph-grey;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: 991px) {
        font-size: 15px;
        line-height: 21px;
    }

    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
    }
}

%h2-title {
    color: $grey;
    @include raleway('light');
    font-size: 36px;
    line-height: 42px;

    @media (max-width: 1199px) {
        font-size: 32px;
        line-height: 38px
    }

    @media (max-width: 991px) {
        font-size: 28px;
        line-height: 34px;
    }

    @media (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
    }

    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 40px;
        background: $red;
        margin: 25px auto;
    }

    & + p {
        @extend %paragraph;
    }
}

ul {
    list-style: none;
}

.player-fixed-bottom {
    position: fixed;
    bottom: 0;
    background: #000;
    width: 100%;
    z-index: 5000;

    @media (max-width: 767px) {
        display: none;
    }

    .song {
        padding: 15px;

        img {
            height: auto;
            width: auto;
            max-height: 45px;
            max-width: 45px;

            @media (max-width: 1399px) {
                max-width: 30px;
                max-height: 30px;
            }

            @media (max-width: 991px) {
                max-width: 45px;
                max-height: 45px;
            }
        }

        .author {
            @include raleway('rlight');
            color: #fff;
            font-size: 13px;
            line-height: 18px;
            display: block;

            @media (max-width: 1399px) {
                font-size: 11px;
                line-height: 16px;
            }

            @media (max-width: 1199px) {
                margin-left: 15px;
            }
        }

        .col-md-9 {
            padding-left: 0;
        }

        h2 {
            @include raleway('rlight');
            color: #fff;
            font-size: 15px;
            font-size: 21px;

            @media (max-width: 1399px) {
                font-size: 13px;
                line-height: 18px;
            }

             @media (max-width: 1199px) {
                margin-left: 15px;
            }
        }
    }

    .player-buttons-left,
    .player-buttons-right {
        padding: 15px 0;
        margin-top: 16px;

        li {
            float: left;
            margin: 0 7px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                &:hover,
                &:focus {
                    .svg {
                        path {
                            fill: $red;
                            @extend %single-transition;
                        }
                    }
                }
            }

            span {
                color: #fff;
                @include raleway('light');
                font-size: 10px;
                font-size: 14px;
                display: block;

                .svg {
                    margin-right: 5px;
                }
            }

            .svg {
                height: 15px;
                width: auto;
                float: left;
                path {
                    fill: #fff;
                    @extend %single-transition;
                }
            }
        }
    }

    .player {
        padding: 15px;
        background: #191919;

        .time {
            display: block;
            @include raleway('regular');
            color: #fff;
            font-size: 14px;
            line-height: 19px;
        }

        .player-buttons-wrapper {
            text-align: center;

            .player-buttons {
                display: inline-block;
                margin: 0;
                padding: 0;
                /* For IE, the outcast */
                zoom:1;
                *display: inline;

                li {
                    float: left;
                    margin: 0 10px;

                    a {
                        .svg {
                            path {
                                fill: #fff;
                                @extend %single-transition;
                            }
                        }

                        .back-button,
                        .next-button,
                        .play-button {
                            width: 17px;
                            height: auto;
                        }

                        .next-button {
                            -webkit-transform:  rotate(180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
                            -ms-transform:      rotate(180deg); /* IE 9 */
                            transform:          rotate(180deg); /* IE 10, Fx 16+, Op 12.1+ */
                        }

                        &:hover,
                        &:focus {
                            .svg {
                                path {
                                    fill: $red;
                                    @extend %single-transition;
                                }
                            }
                        }
                    }
                }
            }
        }

        .player-line {
            width: 100%;
            height: auto;
            margin-top: 10px;
        }
    }

    .player-buttons-right {
        float: left;
    }

    .tags {
        display: none;

        @media (min-width: 1400px) {
            margin: 28px 0 0 15px;
            float: left;
            display: block;

            li {
                float: left;

                a {
                    display: inline-block;
                    background: #363737;
                    border-radius: 2px;
                    padding: 5px;
                    margin: 0 3px 3px 0;
                    float: left;
                    display: block;
                    @include open('bold');
                    font-size: 10px;
                    text-transform: uppercase;
                    color: #fff;

                    &:hover,
                    &:focus {
                        background: #767676;
                        color: #fff;
                    }
                }
            }
        }
    }

    .red-button {
        background: $red;
        border-radius: 3px;
        display: inline-block;
        color: #fff;
        border-bottom: 2px solid #9a2226;
        @include open('bold');
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        text-align: center;
        padding: 10px 15px;
        margin: 21px 15px 21px 0;

        @media (max-width: 1399px) {
            margin: 19px 15px 19px 0;
        }

        @media (max-width: 767px) {
            float: left !important;
            margin-top: 10px;
        }

        &:hover,
        &:focus {
            background: #9a2226;
        }

        .svg {
            height: 12px;
            width: auto;
            margin-right: 5px;
            position: relative;
            top: 2px;
            path {
                fill: #fff;
            }
        }
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Additionals styles ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* ~~~~~~~~~~ Additionals ~~~~~~~~~~ */

    @import "additionals/additionals";


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Partials styles ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* ~~~~~~~~~~ Homepage ~~~~~~~~~~ */

    @import "partials/homepage";


    /* ~~~~~~~~~~ Parts ~~~~~~~~~~ */

    @import "partials/parts";


    /* ~~~~~~~~~~ Admin ~~~~~~~~~~ */

    @import "partials/admin";


    /* ~~~~~~~~~~ Landing Page - Track ~~~~~~~~~~ */

    @import "partials/landing-page-track";


    /* ~~~~~~~~~~ Landing Page - Track Recommended ~~~~~~~~~~ */

    @import "partials/landing-page-track-recommended";


    /* ~~~~~~~~~~ Landing Page - Modals ~~~~~~~~~~ */

    @import "partials/landing-page-modals";


    /* ~~~~~~~~~~ Landing Page - Subscriptions ~~~~~~~~~~ */

    @import "partials/landing-page-subscriptions";


    /* ~~~~~~~~~~ Page ~~~~~~~~~~ */

    @import "partials/page";
